Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

.gitlab-ci.yml:

stages:
- pip
- containers
- tests

variables:
  GIT_SUBMODULE_STRATEGY: recursive

.pip_package base:
  image: python:3.9
  stage: pip
  rules:
    - changes:
      - $CI_JOB_NAME/setup.cfg
      # - .gitlab-ci.yml  # NOTE: We can only release a new version when the version changed
  script:
    - pip install build
    - python3 -m build $CI_JOB_NAME
    - |
      if [[ "$CI_COMMIT_BRANCH" == "master" && -n "$TWINE_PASSWORD" ]]; then \
          pip install twine; \
          twine upload -u "__token__" $CI_JOB_NAME/dist/*; \
      fi

gfxinfo:
  extends:
    - .pip_package base
  variables:
    TWINE_PASSWORD: $PIP_GFXINFO_TOKEN

valvetraces:
  extends:
    - .pip_package base
  variables:
    TWINE_PASSWORD: $PIP_VALVETRACES_TOKEN

.container base:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
    - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  after_script:
    - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then docker push $IMAGE_NAME; fi

executor:
  extends:
    - .container base
  rules:
    - changes:
      - executor/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME -f executor/Dockerfile .
    - |
       docker run --rm \
           --entrypoint=sh $IMAGE_NAME \
           -c 'pip install tox && cd executor && tox'

gitlab-sync:
  extends:
    - .container base
  rules:
    - changes:
      - containers/gitlab-sync/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME ./containers/gitlab-sync
    - |
       docker run --rm \
           -v $(pwd)/htmlcov:/app/htmlcov \
           --entrypoint=sh $IMAGE_NAME \
           -c 'pip install tox && tox'

machine_registration:
  extends:
    - .container base
  rules:
    - changes:
      - machine_registration/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME machine_registration

gitlab-trigger:
  extends:
    - .container base
  rules:
    - changes:
      - containers/gitlab-trigger/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME containers/gitlab-trigger

salad:
  extends:
    - .container base
  rules:
    - changes:
      - salad/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME salad/

valve-infra:
  extends:
    - .container base
  rules:
    - changes:
      - Dockerfile
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME .

executor: Model tags as lists everywhere
  executor/job.py
  executor/tests/sample_job.yml
  executor/tests/test_job.py
Due: executor

job_templates: Interactive job
  job_templates/interactive.yml.j2
Due: none

executor/job: Require all the fields in the Job constructor
  executor/job.py
Due: executor

gfxinfo/amdgpu: document ALDEBARAN as a CDNA2 chip
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

gfxinfo/amdgpu: add support for the experimental flag
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

gfxinfo/amdgpu: fix some RDNA2-related comments
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

gfxinfo/amdgpu: Set the unknown families to UNK, not UK
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

Revert "entrypoint: Factor minio setup to its own service"
  docker-compose.yml
  entrypoint
Due: none

local_build.sh: Fix mistake in machine_registration image name.
  local_build.sh
Due: none

gfxinfo/amdgpu: fix a rebase-induced typo
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

app: make exposing gitlab runner optional
  executor/app.py
Due: executor

executor: make the minio cache optional
  executor/executor.py
Due: executor

executor: expose machines directly
  executor/app.py
Due: executor

executor: move app/get_machine_by_id to MarsClient
  executor/app.py
  executor/mars.py
Due: executor

switch the executor to port 80, and mars to port 8000
  docker-compose.yml
  executor/client.py
Due: executor

gfxinfo: Track heap properties at bits rather than lists of numbers.
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
Due: none

gfxinfo: Improve error logging
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
Due: none

executor/mars.py: Avoid exception spam
  executor/mars.py
Due: executor

gitlab-ci: generate the pip packages after the containers
  .gitlab-ci.yml
Due: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

machine_registration: drop some harmful tags
  machine_registration/machine_registration.py
Due: machine_registration

executor/app: add a missing '/' character in the MaRS URL
  executor/app.py
Due: executor

docker-compose: Parameterise Sgt. Hartman's boot counters
  docker-compose.yml
Due: none

executor/mars: Tidy up some logic around field handling.
  executor/mars.py
Due: executor

executor/mars: Fix a bug returning invalid PDU port
  executor/mars.py
Due: executor

pdu: Comment about the state transition idea
  executor/pdu/__init__.py
Due: none

pdu: Add PDU15SWHVIEC12ATNET.
  executor/pdu/__init__.py
  executor/pdu/drivers/cyberpower.py
Due: none

pdu: Refactor library to better model SNMP PDUs
  executor/pdu/__init__.py
  executor/pdu/drivers/apc.py
  executor/pdu/drivers/cyberpower.py
  executor/pdu/drivers/snmp.py
  executor/pdu/drivers/virtual.py
  executor/tests/test_pdu.py
Due: none

gfxinfo/amdgpu: convert from temporary codename to the real codename
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

gitlab-ci: fix the triggering of pipelines
  .gitlab-ci.yml
Due: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

executor: allow specifying a client callback addr
  executor/app.py
  executor/client.py
  executor/executor.py
Due: executor

valvetraces: use click
  valvetraces/setup.cfg
  valvetraces/src/valvetraces/__init__.py
Due: none

valvetraces: add job/trace_exec functions
  valvetraces/src/valvetraces/__init__.py
Due: none

gfxinfo: trim VulkanInfo's mesa version
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
Due: none

valvetraces: adapt to latest changes in gfxinfo
  valvetraces/src/valvetraces/__init__.py
Due: none

entrypoint: update the default kernel to 5.12.10
  entrypoint
Due: none

entrypoint: fix the path to the new kernel
  entrypoint
Due: none

executor: Consolidate boots
  docker-compose.yml
  executor/Dockerfile
  executor/app.py
  executor/boots.py
  executor/executor.py
  executor/logger.py
  executor/mars.py
  executor/templates/dnsmasq-dhcp-host.jinja
  executor/templates/pxelinux-raw.jinja
  executor/tests/test_boots.py
Due: executor

executor: Factor out exception handling
  executor/executor.py
Due: executor

executor, boot: Remove old PXELINUX configurations
  executor/boots.py
  executor/executor.py
  executor/tests/test_boots.py
Due: executor

machine_registration: be more resistant against noisy serial consoles
  machine_registration/machine_registration.py
Due: machine_registration
