Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

Path conditions:
  python-container: any of: .gitlab-ci.yml
  valve-infra-base-container: any of: .gitlab-ci.yml
  test ansible: any of: ansible/**/*, executor/**/*, salad/**/*
  test ipxe-boot-server: any of: ipxe-boot-server/**/*, .gitlab-ci.yml
  mesa-trigger-container: any of: .gitlab-ci.yml
  mesa-downstream-trigger-container: any of: .gitlab-ci.yml
  valve-infra-container: any of: .gitlab-ci.yml
  machine_registration: any of: .gitlab-ci.yml

dashboard.py: add degraded mode without machines info
  ansible/roles/dashboard/files/bin/dashboard.py
Due: test ansible

machines.py: add networking and service boxes
  ansible/roles/dashboard/files/bin/machines.py
Due: test ansible

dashboard: use argparse for listing monitored services
  ansible/roles/dashboard/files/bin/dashboard.py
  ansible/roles/dashboard/templates/dashboard.yml.j2
Due: test ansible

vivian: disable graphical window when running qemu, use telnet
  vivian/vivian
Due: none

vivian: always attach to tmux session
  vivian/vivian
Due: none

vivian: add --wait to pause VM start until a telnet client is connected
  vivian/vivian
Due: none

valve-infra-container: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

executor/gitlab: un-hardcode the allocated gateway runner resources
  executor/server/setup.cfg
  executor/server/src/valve_gfx_ci/executor/server/gitlab.py
  executor/server/src/valve_gfx_ci/executor/server/templates/gitlab_runner_config.toml.j2
  executor/server/src/valve_gfx_ci/executor/server/tests/test_gitlab.py
Due: test ansible

executor/gitlab: allow multiple concurrent jobs on the gateway runner
  executor/server/src/valve_gfx_ci/executor/server/templates/gitlab_runner_config.toml.j2
  executor/server/src/valve_gfx_ci/executor/server/tests/test_gitlab.py
Due: test ansible

executor/gitlab: bump the hard memory limit on DUT runners
  executor/server/src/valve_gfx_ci/executor/server/templates/gitlab_runner_config.toml.j2
Due: test ansible

valve-infra-base-container: add iotop and iftop
  .gitlab-ci/valve-infra-base-container-build.sh
Due: none

executor/gitlab: fix the format of the TOML template
  executor/server/src/valve_gfx_ci/executor/server/templates/gitlab_runner_config.toml.j2
Due: test ansible

valve-infra(-base)-container: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

dashboard: do not set focus when executor is down
  ansible/roles/dashboard/files/bin/dashboard.py
Due: test ansible
