Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

executor:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-sync:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

machine_registration:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-trigger:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

salad:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

valve-infra:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gfxinfo/amdgpu: add support for the latest AMD gpus
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

valvetraces: Remove deps that are not relevant to the build system
  valvetraces/pyproject.toml
Due: none

valvetraces: The login command doesn't make sense for CLI
  valvetraces/src/valvetraces/__init__.py
Due: none

vpdu: Create the bridge if it does not exist
  virtual-pdu/vpdu.py
Due: none

entrypoint: simplify the deployment of new kernel/initramfs
  entrypoint
Due: none

gitlab-trigger: Include the message module in the container
  containers/gitlab-trigger/Dockerfile
Due: gitlab-trigger

client: display the help message when no commands are used
  executor/client.py
Due: executor

gitlab-trigger/submit_job: fix the order of arguments for the client
  containers/gitlab-trigger/bin/submit_job.sh
Due: none

valvetraces: Give an indication of download progress
  valvetraces/src/valvetraces/__init__.py
Due: none

gitlab-trigger: Pull b2c scripts from cturner's branch
  containers/gitlab-trigger/bin/ensure_container.sh
Due: none

executor/JobRequest: generate a job id when missing
  executor/app.py
  executor/executor.py
Due: executor

executor/message: add a TODO
  executor/message.py
Due: executor

entrypoint: remove the creation of config.prod
  entrypoint
Due: none

executor/tests: s/instanciation/instantiation/g
  executor/tests/test_minio.py
Due: none

executor/JobBucket: re-raise apply_user_policy exceptions
  executor/executor.py
Due: executor

executor/client: allow sharing MinIO privileges with the job
  executor/app.py
  executor/client.py
  executor/executor.py
Due: executor

executor/minioclient: add a method to add a user to a group
  executor/minioclient.py
  executor/tests/test_minio.py
Due: executor

minioclient: add aliasless support
  executor/minioclient.py
  executor/tests/test_minio.py
Due: executor

executor/minioclient: add a method to list the groups a user belongs to
  executor/minioclient.py
  executor/tests/test_minio.py
Due: executor

minioclient: make policies more flexible
  executor/executor.py
  executor/minioclient.py
  executor/tests/test_minio.py
Due: executor

entrypoint: update the default kernel to one that exists
  entrypoint
Due: none

executor/minioclient: allow removing the alias
  executor/minioclient.py
  executor/tests/test_minio.py
Due: executor

entrypoint: create what is needed for valvetraces
  entrypoint
  minio_policies/valvetraces-ro.json
  minio_policies/valvetraces.json
Due: none

ensure_container: Try container commit again if it fails
  containers/gitlab-trigger/bin/ensure_container.sh
Due: none

submit_job: Quieten the job YAML definition
  containers/gitlab-trigger/bin/submit_job.sh
Due: none

ensure_container: Get the b2c generator at build time
  containers/gitlab-trigger/bin/ensure_container.sh
Due: none

gfxinfo: Print a structured representation of the GFX info
  gfxinfo/src/gfxinfo/__main__.py
Due: none

submit_job: Ensure a job name
  containers/gitlab-trigger/bin/submit_job.sh
Due: none

valvetraces: New version of the tool
  containers/gitlab-trigger/Dockerfile
  containers/gitlab-trigger/bin/valvetraces.py
Due: gitlab-trigger

executor: fix a typo (renderered -> rendered)
  executor/executor.py
Due: executor

executor: make the job bucket name more unique
  executor/executor.py
Due: executor

entrypoint: update to the latest releases of boot2container / kernel
  entrypoint
Due: none

minioclient: add a method to create a valid bucket name from a string
  executor/minioclient.py
  executor/tests/test_minio.py
Due: executor

job_template: add a job template to reset the cache device of a machine
  job_templates/cache_reset.yml.j2
Due: none

valvetraces: upload the results to the linux-perf website
  containers/gitlab-trigger/Dockerfile
  containers/gitlab-trigger/bin/valvetraces.py
Due: gitlab-trigger

valvetraces: introduce the possibility to have more than one command
  containers/gitlab-trigger/bin/valvetraces.py
Due: none

valvetraces: Change interface of only-smallest to max bytes
  containers/gitlab-trigger/bin/valvetraces.py
Due: none

Revert "entrypoint: remove the creation of config.prod"
  entrypoint
Due: none

valvetraces: speed up the upload of the frames
  containers/gitlab-trigger/bin/valvetraces.py
Due: none

executor: Factor runner removal script to its own tool.
  executor/app.py
  scripts/remove_matching_runners.py
Due: executor

Path conditions:
  executor: any of: executor/**, .gitlab-ci.yml
  gitlab-sync: any of: containers/gitlab-sync/**, .gitlab-ci.yml
  machine_registration: any of: machine_registration/**, .gitlab-ci.yml
  gitlab-trigger: any of: containers/gitlab-trigger/**, .gitlab-ci.yml
  salad: any of: salad/**, .gitlab-ci.yml
  valve-infra: any of: Dockerfile, .gitlab-ci.yml
