Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

Path conditions:
  build-arch-ansible-container: any of: .gitlab-ci.yml
  ansible: any of: ansible/**/*, .gitlab-ci.yml
  valve-infra: (any of: Makefile, .gitlab-ci.yml) or (any of: containers/valve-infra/**)
  executor: any of: executor/**/*, Makefile, .gitlab-ci.yml
  machine_registration: any of: machine_registration/**/*, gfxinfo/**/*, .gitlab-ci.yml
  gitlab-trigger: any of: containers/gitlab-trigger/**/*, .gitlab-ci.yml
  salad: any of: salad/**/*, .gitlab-ci.yml

gfxinfo: update vulkan dependency to include fix for python >=3.9
  gfxinfo/setup.cfg
  machine_registration/Dockerfile
Due: machine_registration

gfxinfo: release 0.0.7
  gfxinfo/setup.cfg
Due: machine_registration

gitlab-ci: fix the tag of the valve-infra container
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

gitlab-ci: inline the after_script, as it does not seem to work
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

ansible/sshd: install authorized_keys to /root/.ssh/authorized_keys
  ansible/roles/sshd/tasks/main.yml
Due: ansible

ci: rebuild the valve-infra container when any file in /ansible/ changes
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

Remove the artifact reaper
  containers/artifact-reaper/Dockerfile
  containers/artifact-reaper/minio-put.sh
Due: none

ci: Clarify the token names.
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

gfxinfo: Temporary workaround to fix PyPi uploads
  gfxinfo/setup.cfg
Due: machine_registration

Revert "gfxinfo: update vulkan dependency to include fix for python >=3.9"
  gfxinfo/setup.cfg
  machine_registration/Dockerfile
Due: machine_registration

valvetraces: deprecate the current module name
  valvetraces/setup.cfg
  valvetraces/src/valvetraces/__init__.py
Due: none

valvetraces: rename the package to valve_gfx_ci.valvetraces
  valvetraces/setup.cfg
  valvetraces/src/valve_gfx_ci/__init__.py
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: none

gfxinfo: deprecate gfxinfo-mupuf
  gfxinfo/README.md
  gfxinfo/setup.cfg
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/__main__.py
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
  gfxinfo/src/gfxinfo/intel.py
  gfxinfo/src/gfxinfo/virt.py
Due: machine_registration

gfxinfo: rename the package to valve_gfx_ci.gfxinfo
  .gitlab-ci.yml
  gfxinfo/MANIFEST.in
  gfxinfo/README.md
  gfxinfo/setup.cfg
  gfxinfo/src/valve_gfx_ci/__init__.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/__init__.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/__main__.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/amdgpu.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/gfxinfo_vulkan.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/intel.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/virt.py
  machine_registration/Dockerfile
  machine_registration/machine_registration.py
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

valvetraces: drop the gfxinfo dependency
  valvetraces/setup.cfg
Due: none

executor: remove an accidentally-commited local mars_db.yaml
  executor/mars.yaml
Due: executor

pip: make valve_gfx_ci a native namespace
  gfxinfo/setup.cfg
  gfxinfo/src/valve_gfx_ci/__init__.py
  valvetraces/setup.cfg
  valvetraces/src/valve_gfx_ci/__init__.py
Due: machine_registration

ci: re-organize the file based on the stage order
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

container/gitlab-trigger: use the pip valvetraces package
  containers/gitlab-trigger/Dockerfile
  containers/gitlab-trigger/bin/valvetraces.py
Due: gitlab-trigger

executorctl: add a missing import
  executor/client/setup.cfg
  executor/client/src/valve_gfx_ci/executor/client/__main__.py
Due: executor

gitlab-trigger: rebuild the container when changing the clients
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

gitlab-trigger: add back ensure_container.sh and submit_job.sh
  containers/gitlab-trigger/Dockerfile
Due: gitlab-trigger

container/gitlab-trigger: add a missing dependency
  containers/gitlab-trigger/Dockerfile
Due: gitlab-trigger

executor/client: add a missing "logger" import
  executor/client/src/valve_gfx_ci/executor/client/__main__.py
Due: executor

executorctl: export Job using __all__
  executor/client/src/valve_gfx_ci/executor/client/__init__.py
Due: executor

executorctl: move an import from client.py to __main__.py
  executor/client/src/valve_gfx_ci/executor/client/__main__.py
  executor/client/src/valve_gfx_ci/executor/client/client.py
Due: executor

valvetraces: fix an accidental use of the wrong variable
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: none

valvetraces: add a flake8 tox target / cut a new release
  valvetraces/setup.cfg
Due: none

gfxinfo: be specific about what we want to export
  gfxinfo/src/valve_gfx_ci/gfxinfo/__init__.py
Due: machine_registration

gfxinfo: call _parse_amdgpu_ids on the amdgpu_ids file, not amdgpu_drv
  gfxinfo/src/valve_gfx_ci/gfxinfo/amdgpu.py
Due: machine_registration

gfxinfo: add tox testing / cut a new release
  gfxinfo/setup.cfg
Due: machine_registration

ci: run tox on all our pip packages
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

gfxinfo: style fixes
  gfxinfo/src/valve_gfx_ci/gfxinfo/amdgpu.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/virt.py
Due: machine_registration

valvetraces: style fixes
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: none

executorctl: add a flake8 tox target
  executor/client/setup.cfg
Due: executor

ci: Build the CI trigger container as part of valve-infra
  .gitlab-ci.yml
  .gitlab-ci/ci-trigger-container.sh
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad

executor: Include data files in the packaged distribution
  executor/server/MANIFEST.in
Due: executor

config: Look up static templates relative to module.
  ansible/roles/executor/tasks/main.yml
  executor/server/src/valve_gfx_ci/executor/server/config.py
Due: ansible, executor

vivian: support using doas
  vivian/vivian
Due: none
