Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

Path conditions:
  python-container: any of: .gitlab-ci.yml
  valve-infra-base-container: any of: .gitlab-ci.yml
  test ansible: any of: ansible/**/*, executor/**/*, salad/**/*
  test ipxe-boot-server: any of: ipxe-boot-server/**/*, .gitlab-ci.yml
  mesa-trigger-container: any of: .gitlab-ci.yml
  mesa-downstream-trigger-container: any of: .gitlab-ci.yml
  valve-infra-container: any of: .gitlab-ci.yml
  machine_registration: any of: .gitlab-ci.yml

python: run flake on src/, not .
  executor/client/setup.cfg
  executor/server/setup.cfg
  gfxinfo/setup.cfg
  salad/setup.cfg
  valvetraces/setup.cfg
Due: test ansible

ansible/monitoring: fix installing fw rules
  ansible/roles/firewall/tasks/main.yml
  ansible/roles/firewall/templates/50-development.nft.j2
  ansible/roles/monitoring/tasks/main.yml
  ansible/roles/monitoring/templates/11-influxdb.nft.j2
Due: test ansible

ansible/dashboard/services: allow specifying expected status for service
  ansible/roles/dashboard/files/bin/services.sh
Due: test ansible

ansible: add nftables to list of local dashboard services
  ansible/gateway.yml
Due: test ansible

executor/job/Watchdog: add a stop() method
  executor/server/src/valve_gfx_ci/executor/server/job.py
  executor/server/src/valve_gfx_ci/executor/server/tests/test_job.py
Due: test ansible

valve-infra-container: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

executor: reset the watchdogs at boot time
  executor/server/src/valve_gfx_ci/executor/server/executor.py
Due: test ansible

telegraf-container: collect extra information about the CPU and GPU
  .gitlab-ci.yml
  .gitlab-ci/telegraf-container-build.sh
  .gitlab-ci/telegraf-extra-inputs.sh
  .gitlab-ci/telegraf.conf
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

telegraf/extra-inputs: ignore missing files
  .gitlab-ci/telegraf-extra-inputs.sh
Due: none

telegraf/extra-inputs: dump all the frequencies in Hz
  .gitlab-ci/telegraf-extra-inputs.sh
Due: none

telegraf/extra-inputs: capture `scaling_cur_freq`
  .gitlab-ci/telegraf-extra-inputs.sh
Due: none

telegraf: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

ansible: update the list of trusted people
  ansible/gateway.yml
Due: test ansible

executor: fix the handling of watchdogs
  executor/server/src/valve_gfx_ci/executor/server/executor.py
Due: test ansible

ansible/monitoring/linux_system: label the temperature/power graphs
  ansible/roles/monitoring/templates/linux_system.yml.j2
Due: test ansible

ansible/monitoring/linux_system: add CPU / GPU clocks cells
  ansible/roles/monitoring/templates/linux_system.yml.j2
Due: test ansible

ansible/wg: do not make the config world-readable
  ansible/roles/wireguard/tasks/main.yml
Due: test ansible

ansible/monitoring/linux_system: hide `auxtin/cputin` temperature sources
  ansible/roles/monitoring/templates/linux_system.yml.j2
Due: test ansible

telegraf/extra-inputs: add a TODO
  .gitlab-ci/telegraf-extra-inputs.sh
Due: none

executor/config: support for using arbitrary env vars at runtime
  executor/server/src/valve_gfx_ci/executor/server/config.py
  executor/server/src/valve_gfx_ci/executor/server/tests/test_job.py
Due: test ansible

executor: set *_REGISTRY env vars in runtime environment
  ansible/roles/executor/tasks/main.yml
  executor/server/src/valve_gfx_ci/executor/server/config.py
Due: test ansible

executor/config: remove SALAD_URL var
  executor/server/src/valve_gfx_ci/executor/server/config.py
Due: test ansible

readme: attempt to document dependencies for building valve-infra-container
  README.md
Due: none

executor/mars: allow None as a registration token
  executor/server/src/valve_gfx_ci/executor/server/mars.py
Due: test ansible

ansible: move steamos.cloud and storage.googleapis.com to CI infra
  ansible/gateway.yml
Due: test ansible

machine_registration: print the result of the registration on the console
  machine_registration/machine_registration.py
Due: none

Revert "executor/config: remove SALAD_URL var"
  executor/server/src/valve_gfx_ci/executor/server/config.py
Due: test ansible

ansible/dnsmasq: change config to serve dns on private net
  ansible/gateway.yml
  ansible/roles/dnsmasq/defaults/main.yml
  ansible/roles/dnsmasq/files/10-dnsmasq-development.nft
  ansible/roles/dnsmasq/files/10-dnsmasq.nft
  ansible/roles/dnsmasq/handlers/main.yml
  ansible/roles/dnsmasq/tasks/main.yml
  ansible/roles/dnsmasq/templates/dnsmasq.conf.j2
Due: test ansible

ansible/network_setup: add entry for ci-gateway to /etc/hosts
  ansible/roles/network_setup/templates/network_setup.j2
Due: test ansible

executor/server: always write out dnsmasq options file
  executor/server/src/valve_gfx_ci/executor/server/boots.py
Due: test ansible

executor: get private iface ip at runtime to configure dnsmasq
  executor/server/src/valve_gfx_ci/executor/server/boots.py
  executor/server/src/valve_gfx_ci/executor/server/tests/test_boots.py
Due: test ansible

executor: configure dnsmasq to set dns-server in dhcp response
  executor/server/src/valve_gfx_ci/executor/server/boots.py
Due: test ansible

ansible/telegraf: listen on any IP
  ansible/roles/monitoring/templates/telegraf.conf.j2
Due: test ansible

ansible/minio: configure minio by connecting to localhost
  ansible/roles/minio/templates/minio_configure.sh.j2
Due: test ansible

makefile: use gateway hostname for dut ipxe config
  Makefile
Due: none

ansible/chrony: allow client connections from any IP
  ansible/roles/ntpd/files/chrony.conf
Due: test ansible

ansible/*: replace hardcoded gateway IP with gateway dns name
  ansible/roles/executor/tasks/main.yml
  ansible/roles/fdo_proxy_registry/tasks/main.yml
  ansible/roles/local_registry/tasks/main.yml
Due: test ansible

executor: replace hardcoded private iface IP with gateway dns name
  executor/server/src/valve_gfx_ci/executor/server/config.py
  executor/server/src/valve_gfx_ci/executor/server/executor.py
  executor/server/src/valve_gfx_ci/executor/server/job_templates/bootloop.yml.j2
  executor/server/src/valve_gfx_ci/executor/server/job_templates/interactive.yml.j2
  executor/server/src/valve_gfx_ci/executor/server/job_templates/register.yml.j2
Due: test ansible

executor: generate dhcp ip range from private interface IP
  executor/server/src/valve_gfx_ci/executor/server/boots.py
  executor/server/src/valve_gfx_ci/executor/server/tests/test_boots.py
Due: test ansible
