Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

executor:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-sync:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

machine_registration:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-trigger:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

salad:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

valve-infra:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

salad: Stray f-string
  salad/salad.py
Due: salad

machine_registration: Print information about discovered serial ports.
  machine_registration/machine_registration.py
Due: machine_registration

executor: Fix inconsistent capitalisation
  executor/pdu/__init__.py
Due: none

executor: Expose more template variables for jobs
  containers/gitlab-trigger/bin/submit_job.sh
  docker-compose.yml
  entrypoint
  executor/executor.py
  executor/gitlab_runner.py
  executor/job.py
  executor/job/sample_job.yml
  executor/settings.py
  executor/tests/test_gitlab_runner.py
  job_templates/bootloop.yml.j2
  job_templates/register.yml.j2
Due: executor

Revert "executor: Expose more template variables for jobs"
  containers/gitlab-trigger/bin/submit_job.sh
  docker-compose.yml
  entrypoint
  executor/executor.py
  executor/gitlab_runner.py
  executor/job/__init__.py
  executor/job/sample_job.yml
  executor/settings.py
  executor/tests/test_gitlab_runner.py
  job_templates/bootloop.yml.j2
  job_templates/register.yml.j2
Due: executor

gitlab_runner: bump to the latest released version
  docker-compose.yml
Due: none

gitlab_runner: use seccomp:unconfined / privileged
  executor/gitlab_runner.py
Due: executor

executor/pdu: add a random delay on retries
  executor/pdu/drivers/snmp.py
  executor/tests/test_pdu.py
Due: none

gfxinfo/amdgpu: use gitlab to download the latest amdgpu_drv.c
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

executor: write tests for the job module
  executor/job/__init__.py
  executor/tests/test_job.py
  executor/tox.ini
Due: executor

executor/job: convert the Timeout parsing to Marshmallow
  executor/job/__init__.py
  executor/requirements.txt
  executor/tests/test_job.py
Due: executor

gitlab-trigger: source client.py from executor/
  .dockerignore
  .gitlab-ci.yml
  containers/gitlab-trigger/Dockerfile
  containers/gitlab-trigger/bin/client.py
  local_build.sh
Due: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

executor/client: handle non-json errors more gracefully
  executor/client.py
Due: executor

executor/job: convert the Target parsing to Marshmallow
  executor/app.py
  executor/job/__init__.py
  executor/requirements.txt
  executor/tests/test_job.py
Due: executor

executor/client: fix a typo in a function name
  executor/client.py
Due: executor

executor/job: fix the default session_end regex
  executor/job/__init__.py
Due: none

gitlab-trigger: fix the name of the reboot console pattern
  containers/gitlab-trigger/bin/submit_job.sh
Due: none

executor/job: convert the Job parsing to Marshmallow
  executor/app.py
  executor/job/__init__.py
  executor/tests/test_job.py
Due: executor

executor/client: show the exact content of the error
  executor/client.py
Due: executor

executor/job: convert the ConsoleState parsing to Marshmallow
  executor/job/__init__.py
  executor/tests/test_job.py
Due: none

executor/job: convert the Timeouts parsing to Marshmallow
  executor/job/__init__.py
  executor/tests/test_job.py
Due: none

executor/job: remove the last mutable defaults
  executor/job/__init__.py
Due: none

executor/job: match console patterns using search instead of match
  executor/job/__init__.py
Due: none

gitlab-trigger: add new submit job strategy
  containers/gitlab-trigger/Dockerfile
  containers/gitlab-trigger/bin/ensure_container.sh
  containers/gitlab-trigger/bin/submit_job.sh
Due: gitlab-trigger

gitlab-trigger: format skopeo output to be less verbose
  containers/gitlab-trigger/bin/ensure_container.sh
Due: none

gitlab-trigger: style wget downloads to be less verbose
  containers/gitlab-trigger/bin/ensure_container.sh
  containers/gitlab-trigger/bin/submit_job.sh
Due: none

gitlab-trigger: place runner files into the pipeline container
  containers/gitlab-trigger/bin/ensure_container.sh
Due: none

gitlab-trigger: hardcode b2c runner files branch
  containers/gitlab-trigger/bin/ensure_container.sh
Due: none

docker-compose.yml: whitespace
  docker-compose.yml
Due: none

local-build.sh: valve-infra's container name was wrong.
  local_build.sh
Due: none

executor: Expose more template variables for jobs
  docker-compose.yml
  entrypoint
  executor/app.py
  executor/executor.py
  executor/gitlab_runner.py
  executor/job.py
  executor/settings.py
  executor/tests/sample_job.yml
  executor/tests/test_gitlab_runner.py
  executor/tests/test_job.py
  job_templates/bootloop.yml.j2
  job_templates/register.yml.j2
Due: executor

executor: Don't hide exceptions!
  executor/executor.py
Due: executor

executor: Make multi-test-device logging easier to delineate.
  executor/executor.py
Due: executor

Add a virtual PDU
  .dockerignore
  .gitignore
  executor/pdu/__init__.py
  executor/pdu/drivers/virtual.py
  executor/tox.ini
  virtual-pdu/client.py
  virtual-pdu/vpdu.py
Due: executor

executor: Fix a little refactoring hiccup.
  executor/app.py
Due: executor

executor: Throttle the exception spam
  executor/executor.py
Due: executor

pdu: Remove useless logging information
  executor/pdu/__init__.py
Due: none

salad: Restore client input functionality
  salad/tcpserver.py
Due: salad

salad: Support connections from UNIX domain sockets.
  docker-compose.yml
  salad/console.py
  salad/salad.py
Due: salad

gfxinfo,machine_registration: Make a start on supporting more GPUs.
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/__main__.py
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
  gfxinfo/src/gfxinfo/intel.py
  gfxinfo/src/gfxinfo/virt.py
  machine_registration/Dockerfile
  machine_registration/machine_registration.py
Due: machine_registration

Path conditions:
  executor: any of: executor/**, .gitlab-ci.yml
  gitlab-sync: any of: containers/gitlab-sync/**, .gitlab-ci.yml
  machine_registration: any of: machine_registration/**, .gitlab-ci.yml
  gitlab-trigger: any of: containers/gitlab-trigger/**, .gitlab-ci.yml
  salad: any of: salad/**, .gitlab-ci.yml
  valve-infra: any of: Dockerfile, .gitlab-ci.yml
