Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

build-arch-ansible-container:
  stage: prep
  variables:
    FDO_DISTRIBUTION_PACKAGES: ansible ansible-lint yamllint

ansible:
  stage: lint
  script:
  - chmod -R o-w ansible
  - cd ansible
  - ansible-galaxy collection install kewlfft.aur
  - ansible-lint --version
  - ansible-lint -f plain
  - ansible-playbook --syntax-check gateway.yml

executor:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

machine_registration:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-trigger:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

salad:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

ansible: create resolv.conf in network_setup
  ansible/roles/dnsmasq/files/resolv.conf
  ansible/roles/dnsmasq/tasks/main.yml
  ansible/roles/network_setup/templates/network_setup.j2
Due: ansible

ansible/roles/minio: use minio_port var in minio_configure
  ansible/roles/minio/templates/minio_configure.sh.j2
Due: ansible

ansible: Ensure the resolv.conf file has the correct permissions
  ansible/roles/base/tasks/main.yml
Due: ansible

Makefile: Support local registries for testing
  containers/valve-infra/Makefile
  containers/valve-infra/README.md
Due: none

ssh: Fix broken key files configuration
  ansible/roles/sshd/files/sshd_config
  containers/valve-infra/Makefile
Due: ansible

ansible: Add Igalia admin to the list of allowed keys
  ansible/gateway.yml
Due: ansible

valve-infra: Add documentation for the container build
  containers/valve-infra/Dockerfile
  containers/valve-infra/Makefile
  containers/valve-infra/README.md
Due: none

sshd: Allow passwordless auth for private networks
  ansible/roles/sshd/files/sshd_config
Due: ansible

ansible/dnsmasq: do not use systemd-resolved
  ansible/gateway.yml
  ansible/roles/dnsmasq/defaults/main.yml
  ansible/roles/dnsmasq/files/10-dnsmasq.nft
  ansible/roles/dnsmasq/files/resolv.conf
  ansible/roles/dnsmasq/files/resolved.conf
  ansible/roles/dnsmasq/handlers/main.yml
  ansible/roles/dnsmasq/tasks/main.yml
Due: ansible

valve-infra: Peg the arch base version
  containers/valve-infra/Dockerfile
Due: none

ansible: move network_setup script to role
  ansible/gateway.yml
  ansible/roles/network_setup/defaults/main.yml
  ansible/roles/network_setup/files/network-setup.service
  ansible/roles/network_setup/tasks/main.yml
  ansible/roles/network_setup/templates/network_setup.j2
  containers/valve-infra/rootfs/etc/systemd/system/multi-user.target.wants/network-setup.service
Due: ansible

ansible/*/handlers: only restart services if systemd is running
  ansible/roles/dnsmasq/handlers/main.yml
  ansible/roles/firewall/handlers/main.yml
  ansible/roles/minio/handlers/main.yml
  ansible/roles/ntpd/handlers/main.yml
  ansible/roles/sshd/handlers/main.yml
Due: ansible

ansible/dnsmasq: install dev-related firewall rule
  ansible/roles/dnsmasq/files/10-dnsmasq-development.nft
  ansible/roles/dnsmasq/files/10-dnsmasq.nft
  ansible/roles/dnsmasq/tasks/main.yml
Due: ansible

ci: ansible: show linter version and use plain formats
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

valve-infra: Don't show the syslog on the console
  containers/valve-infra/Makefile
Due: none

ci, ansible: enforce yaml linting
  .gitlab-ci.yml
  ansible/.ansible-lint
  ansible/gateway.yml
  ansible/roles/base/tasks/aur.yml
  ansible/roles/base/tasks/main.yml
  ansible/roles/dnsmasq/handlers/main.yml
  ansible/roles/dnsmasq/tasks/main.yml
  ansible/roles/firewall/tasks/main.yml
  ansible/roles/network_setup/tasks/main.yml
  ansible/roles/ntpd/tasks/main.yml
  ansible/roles/sshd/tasks/main.yml
  ansible/roles/systemd_podman/tasks/main.yml
Due: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

ansible: Fix naming bug in network_setup
  ansible/roles/network_setup/templates/network_setup.j2
Due: ansible

valve-infra: Do not reaquire DHCP lease
  containers/valve-infra/rootfs/usr/bin/network_setup
Due: none

ansible: Allow passing extra flags to ansible during build
  containers/valve-infra/Dockerfile
Due: none

ansible: Fix up the location of salad sockets
  ansible/roles/salad/tasks/main.yml
Due: ansible

ansible/roles/firewall: add forward chain
  ansible/roles/firewall/files/00-base.nft
Due: ansible

executor: gitlab-runner config now lives in the permanent mount.
  ansible/roles/executor/tasks/main.yml
Due: ansible

containers/valve-infra: drop infra.service from rootfs
  containers/valve-infra/rootfs/etc/systemd/system/infra.service
  containers/valve-infra/rootfs/etc/systemd/system/multi-user.target.wants/infra.service
Due: none

valve-infra: Use qcow2 disk format rather than raw
  containers/valve-infra/Makefile
  vivian/vivian
Due: none

valve-infra: Remove the old entrypoint
  containers/valve-infra/entrypoint
Due: none

ansible: Support optional environment files in the podman services
  ansible/roles/executor/tasks/main.yml
  ansible/roles/fdo_proxy_registry/tasks/main.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/local_registry/tasks/main.yml
  ansible/roles/mars/tasks/main.yml
  ansible/roles/minio/tasks/main.yml
  ansible/roles/systemd_podman/defaults/main.yml
  ansible/roles/systemd_podman/templates/systemd-podman.service.j2
Due: ansible

local_registry: Mount the tmp partition as the registry
  ansible/roles/local_registry/tasks/main.yml
Due: ansible

valve-infra: Update package database before install base-devel
  containers/valve-infra/Dockerfile
Due: none

ansible: Support deployments to Vivian
  ansible/gateway.yml
  ansible/hosts
Due: ansible

ansible: Tidy up default kernel / ramdisk
  ansible/gateway.yml
  ansible/roles/minio/templates/minio_configure.sh.j2
Due: ansible

valve-infra: Integrate Vivian into testing workflow
  containers/valve-infra/Makefile
  containers/valve-infra/README.md
  tools/vivian-tmux.sh
  vivian/README.org
  vivian/vivian
  vivian/vpdu.py
Due: none

Update gitignore file
  .gitignore
Due: none

dashboard: Move the selftest script to ansible
  ansible/roles/dashboard/files/selftest
  ansible/roles/dashboard/tasks/main.yml
  ansible/roles/dashboard/templates/dashboard.yml.j2
Due: ansible

ansible: Add templated preconditions for systemd services
  ansible/roles/executor/tasks/main.yml
  ansible/roles/minio/tasks/main.yml
  ansible/roles/systemd_podman/defaults/main.yml
  ansible/roles/systemd_podman/templates/systemd-podman.service.j2
Due: ansible

ansible: Add the configured FARM_NAME to the base configuration
  ansible/roles/base/tasks/main.yml
Due: ansible

minio, executor: Use MINIO_ROOT_USER consistently
  executor/config.py
  executor/minioclient.py
  executor/tests/test_minio.py
Due: executor

ansible: Consolidate configuration
  ansible/gateway.yml
  ansible/roles/base/tasks/main.yml
  ansible/roles/executor/tasks/main.yml
  ansible/roles/fdo_proxy_registry/tasks/main.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/local_registry/tasks/main.yml
  ansible/roles/mars/defaults/main.yml
  ansible/roles/mars/tasks/main.yml
  ansible/roles/minio/tasks/main.yml
  ansible/roles/minio/templates/minio_configure.service.j2
  ansible/roles/salad/tasks/main.yml
Due: ansible

fdo_proxy_registry: Drop the http:// schema from this definition
  ansible/roles/fdo_proxy_registry/tasks/main.yml
  ansible/roles/local_registry/tasks/main.yml
Due: ansible

executor: Fix up build context for podman build
  .gitlab-ci.yml
  executor/Dockerfile
  executor/job_templates/bootloop.yml.j2
  executor/job_templates/cache_reset.yml.j2
  executor/job_templates/interactive.yml.j2
  executor/job_templates/register.yml.j2
  local_build.sh
Due: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

vivian: Drop remote docker connections
  vivian/vivian
Due: none

Path conditions:
  build-arch-ansible-container: any of: .gitlab-ci.yml
  ansible: any of: ansible/**/*, .gitlab-ci.yml
  executor: any of: executor/**/*, .gitlab-ci.yml
  machine_registration: any of: machine_registration/**/*, gfxinfo/**/*, .gitlab-ci.yml
  gitlab-trigger: any of: containers/gitlab-trigger/**/*, .gitlab-ci.yml
  salad: any of: salad/**/*, .gitlab-ci.yml
