Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

executor:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-sync:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

machine_registration:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-trigger:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

salad:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

valve-infra:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

vivian: support alternative paths to ovmf code
  vivian/vivian
Due: none

vivian: don't use deprecated readonly option
  vivian/vivian
Due: none

vivian: explicitly run python3
  vivian/vivian
Due: none

vivian: create disk image in test_installer if it doesn't exist
  vivian/vivian
Due: none

vivian: don't use ovmf code/vars separately when efi booting
  vivian/vivian
Due: none

valvetraces: add some debug information for unstable outputs
  containers/gitlab-trigger/bin/valvetraces.py
Due: none

valvetraces: do not use frames only seen in pre-merge to assess frame stability
  containers/gitlab-trigger/bin/valvetraces.py
Due: none

valvetraces: only use the last 100 runs to check for output stability
  containers/gitlab-trigger/bin/valvetraces.py
Due: none

valvetraces: upload the execution logs
  containers/gitlab-trigger/bin/valvetraces.py
Due: none

valvetraces: upload the trace exec runtime
  containers/gitlab-trigger/bin/valvetraces.py
Due: none

executor: make exposing the farm on gitlab non-necessary
  executor/app.py
Due: executor

executor/gitlab: drop the `security_opt` option
  executor/gitlab_runner.py
Due: executor

gfxinfo: rename $driver.from_pciids to $driver.from_pciid
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/intel.py
  gfxinfo/src/gfxinfo/virt.py
Due: none

gfxinfo: make the gpu tags a property
  gfxinfo/src/gfxinfo/__main__.py
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/intel.py
  gfxinfo/src/gfxinfo/virt.py
  machine_registration/machine_registration.py
Due: machine_registration

gfxinfo: keep track of the revision_id
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/intel.py
  gfxinfo/src/gfxinfo/virt.py
Due: none

gfxinfo: always use the package's directory as a caching folder
  gfxinfo/MANIFEST.in
  gfxinfo/setup.cfg
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/__main__.py
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/intel.py
  gfxinfo/src/gfxinfo/virt.py
  machine_registration/Dockerfile
  machine_registration/machine_registration.py
Due: machine_registration

gfxinfo: pre-cache the device databases before creating the pip package
  .gitlab-ci.yml
  gfxinfo/src/gfxinfo/amdgpu.py
Due: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

gfxinfo/amdgpu: add information about the marketing name
  gfxinfo/MANIFEST.in
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

gfxinfo: split the DB from the representation of a GPU
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/intel.py
  gfxinfo/src/gfxinfo/virt.py
  machine_registration/machine_registration.py
Due: machine_registration

gfxinfo: add structured tags
  gfxinfo/src/gfxinfo/__main__.py
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/intel.py
  gfxinfo/src/gfxinfo/virt.py
Due: none

gfxinfo: cut the 0.0.6 release
  gfxinfo/setup.cfg
Due: none

gfxinfo/amdgpu: use the cpu name for APUs without a marketing name
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

gfxinfo/amdgpu: add a timeout when downloading the latest driver
  gfxinfo/src/gfxinfo/amdgpu.py
Due: none

gfxinfo: add a gfxinfo command line for standalone usage
  gfxinfo/setup.cfg
  gfxinfo/src/gfxinfo/__main__.py
Due: none

executor: Parameterize boots path configuration.
  executor/app.py
  executor/config.py
Due: executor

executor: Remove unused configuration variable.
  docker-compose.yml
  executor/config.py
Due: executor

valve-infra: move the gitlab config file to the permanent partition
  docker-compose.yml
Due: none

container/valve-infra: make a self-contained container runnable in b2c
  .gitlab-ci.yml
  Dockerfile
  containers/valve-infra/Dockerfile
  containers/valve-infra/Makefile
  containers/valve-infra/README.md
  containers/valve-infra/config/gitlab_runner_seccomp.json
  containers/valve-infra/docker-compose.yml
  containers/valve-infra/entrypoint
  containers/valve-infra/minio_policies/valvetraces-ro.json
  containers/valve-infra/minio_policies/valvetraces.json
  containers/valve-infra/rootfs/etc/cni/net.d/87-podman.conflist
  containers/valve-infra/rootfs/etc/containers/containers.conf
  containers/valve-infra/rootfs/etc/containers/registries.conf
  containers/valve-infra/rootfs/etc/containers/storage.conf
  containers/valve-infra/rootfs/etc/hostname
  containers/valve-infra/rootfs/etc/locale.conf
  containers/valve-infra/rootfs/etc/locale.gen
  containers/valve-infra/rootfs/etc/localtime
  containers/valve-infra/rootfs/etc/shadow
  containers/valve-infra/rootfs/etc/ssh/sshd_config
  containers/valve-infra/rootfs/etc/systemd/system/getty@tty2.service.d/override.conf
  containers/valve-infra/rootfs/etc/systemd/system/infra.service
  containers/valve-infra/rootfs/etc/systemd/system/multi-user.target.wants/infra.service
  containers/valve-infra/rootfs/etc/systemd/system/multi-user.target.wants/network-setup.service
  containers/valve-infra/rootfs/etc/systemd/system/multi-user.target.wants/sshd.service
  containers/valve-infra/rootfs/etc/systemd/system/network-setup.service
  containers/valve-infra/rootfs/etc/systemd/system/sshd.service
  containers/valve-infra/rootfs/etc/systemd/system/sshdgenkeys.service
  containers/valve-infra/rootfs/root/.ssh/authorized_keys
  containers/valve-infra/rootfs/root/.tmux.conf
  containers/valve-infra/rootfs/root/.tmuxp/dashboard.yaml
  containers/valve-infra/rootfs/usr/bin/find_nic
  containers/valve-infra/rootfs/usr/bin/network_setup
  containers/valve-infra/rootfs/usr/bin/selftest
  local_build.sh
Due: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

ipxe-boot-server: ipxe configuration generator
  .gitlab-ci.yml
  ipxe-boot-server/Makefile
  ipxe-boot-server/README.md
  ipxe-boot-server/app.py
  ipxe-boot-server/app_tests.py
  ipxe-boot-server/requirements.txt
  ipxe-boot-server/wsgi.py
Due: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

container/valve-infra: fix the SSH service
  containers/valve-infra/Dockerfile
Due: none

ipxe-boot-server: Generate a hybrid bootable ISO.
  ipxe-boot-server/Makefile
  ipxe-boot-server/qemu-run.sh
Due: none

Makefile: add a device flash target
  ipxe-boot-server/Makefile
Due: none

ipxe-boot-server/README: use python3 rather than python
  ipxe-boot-server/README.md
Due: none

ipxe-boot-server/README: Run the service as the ipxe user
  ipxe-boot-server/README.md
Due: none

ipxe bootloader: Continuously retry boots
  ipxe-boot-server/Makefile
Due: none

boots: allow disabling the loading of dnsmasq
  executor/boots.py
  executor/config.py
Due: executor

boots: store the dnsmasq leases in the boots root directory
  executor/boots.py
  executor/tests/test_boots.py
Due: executor

ansible: manage gitlab-runner container
  ansible/gateway.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  containers/valve-infra/docker-compose.yml
Due: none

ansible/gateway: create a valve infra target
  ansible/gateway.yml
Due: none

ansible: add tags to roles in gateway playbook
  ansible/gateway.yml
Due: none

Path conditions:
  executor: any of: executor/**, .gitlab-ci.yml
  gitlab-sync: any of: containers/gitlab-sync/**, .gitlab-ci.yml
  machine_registration: any of: machine_registration/**, .gitlab-ci.yml
  gitlab-trigger: any of: containers/gitlab-trigger/**, .gitlab-ci.yml
  salad: any of: salad/**, .gitlab-ci.yml
  valve-infra: any of: Dockerfile, .gitlab-ci.yml
