Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: executor, gitlab-sync, sergant-hartman, machine_registration, farm-runner, valve-infra

.gitlab-ci.yml:

stages:
- containers
- tests

variables:
  GIT_SUBMODULE_STRATEGY: recursive

.container base:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
    - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  after_script:
    - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then docker push $IMAGE_NAME; fi

executor:
  extends:
    - .container base
  rules:
    - changes:
      - containers/executor/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME -f executor/Dockerfile .

gitlab-sync:
  extends:
    - .container base
  rules:
    - changes:
      - containers/gitlab-sync/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME ./containers/gitlab-sync
    - |
       docker run --rm \
           -v $(pwd)/htmlcov:/app/htmlcov \
           --entrypoint=sh $IMAGE_NAME \
           -c 'pip install tox && tox'

sergant-hartman:
  extends:
    - .container base
  rules:
    - changes:
      - containers/sergant-hartman/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME ./containers/sergant-hartman
    - |
       docker run --rm \
           -v $(pwd)/htmlcov:/app/htmlcov \
           --entrypoint=sh $IMAGE_NAME \
           -c 'trial sergant_hartman'

machine_registration:
  extends:
    - .container base
  rules:
    - changes:
      - containers/Dockerfile.machine_registration
      - machine_registration.py
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME -f containers/Dockerfile.machine_registration .

farm-runner:
  extends:
    - .container base
  rules:
    - changes:
      - containers/farm-runner/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME containers/farm-runner

valve-infra:
  extends:
    - .container base
  rules:
    - changes:
      - Dockerfile
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME .

salad: close the serial console or the session when reading failed
  salad/__init__.py
Due: none

Remove orphaned containers
  entrypoint
Due: none

Remove containers on exit
  entrypoint
Due: none

pip: add a gfxinfo pip module
  .gitignore
  .gitlab-ci.yml
  gfxinfo/LICENSE
  gfxinfo/README.md
  gfxinfo/pyproject.toml
  gfxinfo/setup.cfg
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/vulkan.py
Due: executor, gitlab-sync, sergant-hartman, machine_registration, farm-runner, valve-infra

machine_registration: use gfxinfo from pip
  containers/Dockerfile.machine_registration
  machine_registration.py
Due: machine_registration

machine_registration: move all the files to their own folder
  .gitlab-ci.yml
  machine_registration/Dockerfile
  machine_registration/machine_registration.py
Due: executor, gitlab-sync, sergant-hartman, machine_registration, farm-runner, valve-infra

.gitlab-ci/pip: move more steps to the base rule
  .gitlab-ci.yml
Due: executor, gitlab-sync, sergant-hartman, machine_registration, farm-runner, valve-infra

.gitlab-ci/pip: fix the uploading of the package
  .gitlab-ci.yml
Due: executor, gitlab-sync, sergant-hartman, machine_registration, farm-runner, valve-infra

machine_registration: import AMDGPU before using it
  machine_registration/machine_registration.py
Due: none

machine_registration: drop the outdated 'sgt_hartman' command
  machine_registration/machine_registration.py
Due: none

gfxinfo/machine_tags: drop the toggles
  gfxinfo/src/gfxinfo/__init__.py
Due: none

machine_tags: drop the :: construct
  gfxinfo/src/gfxinfo/__init__.py
  machine_registration/machine_registration.py
Due: none

glxinfo: fix the "print_topology" function
  gfxinfo/src/gfxinfo/__init__.py
Due: none

gfxinfo: make __repr__ actually represent the content of the object
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/vulkan.py
Due: none

gfxinfo: release version 0.0.3
  gfxinfo/setup.cfg
Due: none

Parameterize MaRS permanent mount
  docker-compose.yml
Due: none

Always restart the registry
  docker-compose.yml
Due: none

Parameterise the registry mount area
  containers/gitlab-sync/gitlab_sync.py
  containers/gitlab-sync/test_gitlab_sync.py
  docker-compose.yml
  entrypoint
Due: gitlab-sync

executor/client: Only perform tty operations on ttys
  executor/client.py
Due: none

gitlab-sync: warn is deprecated
  containers/gitlab-sync/gitlab_sync.py
Due: gitlab-sync

Document how to hack on a satellite container.
  README.md
Due: none

gfxinfo: fallback to backports.cached-property if not available
  gfxinfo/setup.cfg
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/vulkan.py
Due: none

entrypoint: Allow overriding the pull stage
  entrypoint
Due: none

executor/client: Add a control prefix to the cooked mode
  executor/client.py
Due: none

job: Do not double quote console patterns in display
  job/__init__.py
Due: none

gfxinfo: requests is needed by the amdgpu module
  gfxinfo/setup.cfg
Due: none

gfxinfo: correct typo importing backports.cached_property
  gfxinfo/src/gfxinfo/vulkan.py
Due: none

executor/client: Make it clear that cbreak mode is only reading one character
  executor/client.py
Due: none

Use a pre-release initramfs
  entrypoint
Due: none

Fail gracefully if the client can't connect to the executor
  executor/client.py
Due: none

Display what went wrong when BOOTS returns errors.
  bootsclient/__init__.py
Due: none

Fail gracefully when the server returns an invalid JSON response
  executor/client.py
Due: none

BOOTS no longer sets up the default kernels and ramdisks
  docker-compose.yml
Due: none

executor: Store artifacts via minio rather than BOOTS
  docker-compose.yml
  executor/executor.py
  executor/requirements.txt
Due: none

Remove unneeded comment
  executor/executor.py
Due: none

Indentation fixup
  executor/executor.py
Due: none

Remove broken MultiLineString class
  job/__init__.py
Due: none

gitlab-sync: Only manipulate runners in our farm
  containers/gitlab-sync/gitlab_sync.py
  containers/gitlab-sync/requirements.txt
  containers/gitlab-sync/test_gitlab_sync.py
  docker-compose.yml
  entrypoint
Due: gitlab-sync

gitlab-sync: Avoid rebuilding the container for source changes
  containers/gitlab-sync/Dockerfile
Due: gitlab-sync

gitlab-sync: Do not share our runners with other projects
  containers/gitlab-sync/gitlab_sync.py
  containers/gitlab-sync/test_gitlab_sync.py
Due: gitlab-sync
