Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

build-arch-ansible-container:
  variables:
    FDO_DISTRIBUTION_TAG: valve-infra-arch-ansible-2021-12-23
    FDO_DISTRIBUTION_PACKAGES: ansible ansible-lint yamllint
  stage: prep
  before_script:
  - rm /var/lib/containers/storage/* -rf

ansible:
  variables:
    FDO_DISTRIBUTION_TAG: valve-infra-arch-ansible-2021-12-23
  stage: lint
  script:
  - chmod -R o-w ansible
  - cd ansible
  - ansible-galaxy collection install kewlfft.aur
  - ansible-lint --version
  - ansible-lint -f plain
  - ansible-playbook --syntax-check gateway.yml

valve-infra:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

executor:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

machine_registration:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

gitlab-trigger:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

salad:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

ci-trigger-container:
  stage: containers
  variables:
    FDO_DISTRIBUTION_PACKAGES: python3 python3-pip wget findutils bash
    FDO_DISTRIBUTION_TAG: 2022-01-25-ci-trigger-2
    FDO_DISTRIBUTION_VERSION: testing
    FDO_DISTRIBUTION_EXEC: .gitlab-ci/${CI_JOB_NAME}.sh

vivian: don't write to gateway_monitor_socket if it doesn't exist
  vivian/vivian
Due: none

vivian: remove unused qemu pid var
  vivian/vivian
Due: none

make: allow passing options to vivian
  Makefile
  README.md
Due: valve-infra, executor

vivian: add --ssh-id option for setting identity file
  vivian/vivian
Due: none

vivian: add set -u
  vivian/vivian
Due: none

valvetraces: update the default settings
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: cut a new version of valvetraces
  valvetraces/setup.cfg
Due: gitlab-trigger

valvetraces: add a way to specify the DXVK repository
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: add a way to share files with the DUT
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: add mupuf/dxvk-ci as a known project
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

ansible/dashboard: replace with new implementation
  ansible/gateway.yml
  ansible/roles/dashboard/files/bin/common.sh
  ansible/roles/dashboard/files/bin/machines.py
  ansible/roles/dashboard/files/bin/network.sh
  ansible/roles/dashboard/files/bin/services.sh
  ansible/roles/dashboard/files/infra_monitor.sh
  ansible/roles/dashboard/files/selftest
  ansible/roles/dashboard/tasks/main.yml
  ansible/roles/dashboard/templates/dashboard.yml.j2
Due: ansible, valve-infra

vivian: Fix undefined variable error
  vivian/vivian
Due: none

vivian: Fix broken gateway monitor file check
  vivian/vivian
Due: none

ipxe-boot-server: throw error if genfsimg fails
  ipxe-boot-server/Makefile
Due: none

ipxe-boot-server: add missing deps for debian to the readme
  ipxe-boot-server/README.md
Due: none

valvetraces: remove old functions from the Client
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: remove the ability to list traces matching tags
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: Allow limiting execution by GFX API
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: remove "metadata" from the Job creation
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: rework is_postmerge to be more project-specific
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

gfxinfo: expose the driver_info field
  gfxinfo/setup.cfg
  gfxinfo/src/valve_gfx_ci/gfxinfo/__main__.py
Due: machine_registration

valvetraces: create our own entrypoint
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: fix the generation of the jobtimeline
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: accept VALVETRACES_PASSWORD as well as VALVETRACESPASSWORD
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: add the version for the job timeline
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: store the driver information as part of the trace execution
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: do not upload invalid reports
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: rename VALVETRACES_MINIO_USER->VALVETRACES_BUCKET_USER
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: update the README
  valvetraces/README.md
Due: gitlab-trigger

valvetraces: document a shortcoming of pygit2
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: add executorctl as a dependency
  valvetraces/setup.cfg
Due: gitlab-trigger

valvetraces: verify that the mandatory env vars are not missing
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: cut a new release
  valvetraces/setup.cfg
Due: gitlab-trigger

valvetraces: rename is_postmerge to is_postmerge_job
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

ansible: Show skipped roles
  ansible/ansible.cfg
Due: ansible, valve-infra

ansible: Manage container configuration
  ansible/gateway.yml
  ansible/roles/containers/files/87-podman.conflist
  ansible/roles/containers/files/containers.conf
  ansible/roles/containers/files/registries.conf
  ansible/roles/containers/files/storage.conf
  ansible/roles/containers/tasks/main.yml
Due: ansible, valve-infra

vivian: Remove bad quotes in ssh_options
  vivian/vivian
Due: none

vivian: Hack around weird container runtime permissions
  vivian/vivian
Due: none

vpdu: Store DUT logs in the tmp dir
  vivian/vpdu.py
Due: none

ci-trigger-container: Rename and bump
  .gitlab-ci.yml
  .gitlab-ci/mesa-trigger-container.sh
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

Path conditions:
  build-arch-ansible-container: any of: .gitlab-ci.yml
  ansible: any of: ansible/**/*, .gitlab-ci.yml
  valve-infra: (any of: Makefile, .gitlab-ci.yml, ansible/**/*) or (any of: containers/valve-infra/**)
  executor: any of: executor/**/*, Makefile, .gitlab-ci.yml
  machine_registration: any of: machine_registration/**/*, gfxinfo/**/*, .gitlab-ci.yml
  gitlab-trigger: any of: containers/gitlab-trigger/**/*, executor/client/**/*, valvetraces/**/*, .gitlab-ci.yml
  salad: any of: salad/**/*, .gitlab-ci.yml
  ci-trigger-container: any of: .gitlab-ci.yml
