Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

python-container:
  stage: prep
  before_script:
  - rm -rf /var/lib/containers/storage/libpod/*
  variables:
    FDO_DISTRIBUTION_PACKAGES: python3 python3-pip build-essential libsnmp-dev wget
    FDO_DISTRIBUTION_VERSION: bullseye
    FDO_REPO_SUFFIX: python-container
    FDO_DISTRIBUTION_TAG: '2022-02-11'
  ...

valve-infra-base-container:
  image: registry.freedesktop.org/freedesktop/ci-templates/x86_64/container-build-base:2021-06-21.2
  stage: prep
  variables:
    BASE_IMAGE: archlinux:base-devel-20220130.0.46058
    FDO_DISTRIBUTION_TAG: 2022-03-07.1
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:$FDO_DISTRIBUTION_TAG
  ...

test ansible:
  image: registry.freedesktop.org/freedesktop/ci-templates/x86_64/container-build-base:2021-06-21.2
  variables:
    BASE_CONTAINER_TAG:
    - valve-infra-base-container
    - variables
    - FDO_DISTRIBUTION_TAG
    BASE_IMAGE: $CI_REGISTRY_IMAGE/valve-infra-base-container:$BASE_CONTAINER_TAG
  stage: tests
  ...

test ipxe-boot-server:
  variables:
    TAG:
    - python-container
    - variables
    - FDO_DISTRIBUTION_TAG
  image: $CI_REGISTRY_IMAGE/python-container:$TAG
  dependencies:
  - python-container
  stage: tests
  script:
  - cd ipxe-boot-server/
  - pycodestyle --max-line-length=120 .
  - pip3 install -r requirements.txt
  ...

mesa-trigger-container:
  stage: containers
  before_script:
  - rm -rf /var/lib/containers/storage/libpod/*
  variables:
    FDO_DISTRIBUTION_PACKAGES: bash git python3 python3-pip python3-jinja2 wget findutils
    FDO_REPO_SUFFIX: mesa-trigger
    FDO_DISTRIBUTION_TAG: 2022-03-03.2
    FDO_DISTRIBUTION_VERSION: testing
  ...

mesa-downstream-trigger-container:
  stage: containers
  before_script:
  - rm -rf /var/lib/containers/storage/libpod/*
  variables:
    FDO_BASE_IMAGE: quay.io/buildah/stable
    FDO_DISTRIBUTION_PACKAGES: bash inotify-tools git python3-pip python3-jinja2 skopeo wget findutils
    FDO_REPO_SUFFIX: mesa-downstream-trigger
  ...

valve-infra-container:
  image: registry.freedesktop.org/freedesktop/ci-templates/x86_64/container-build-base:2021-06-21.2
  stage: containers
  variables:
    BASE_CONTAINER_TAG:
    - valve-infra-base-container
    - variables
    - FDO_DISTRIBUTION_TAG
    BASE_IMAGE: $CI_REGISTRY_IMAGE/valve-infra-base-container:$BASE_CONTAINER_TAG
  ...

machine_registration:
  image: registry.freedesktop.org/freedesktop/ci-templates/x86_64/container-build-base:2021-06-21.2
  stage: containers
  variables:
    FDO_DISTRIBUTION_TAG: 2022-02-17.2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:$FDO_DISTRIBUTION_TAG
    IMAGE_NAME_LATEST: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  ...

ansible/salad: improve restart when config is changed, achieve idempotency
  ansible/roles/salad/handlers/main.yml
  ansible/roles/salad/tasks/main.yml
Due: test ansible

ansible/wireguard: move all wg config to wg role
  ansible/roles/network_setup/templates/network_setup.j2
  ansible/roles/wireguard/handlers/main.yml
  ansible/roles/wireguard/tasks/main.yml
Due: test ansible

ansible/executor: restart when config is changed, achieve idempotency
  ansible/roles/executor/handlers/main.yml
  ansible/roles/executor/tasks/main.yml
Due: test ansible

ansible/minio: make minio password role idempotent
  ansible/roles/minio/tasks/main.yml
Due: test ansible

ansible/minio: fix getting minio_configure service restart
  ansible/roles/minio/handlers/main.yml
  ansible/roles/minio/tasks/main.yml
Due: test ansible

ansible/base: disable ipv6
  ansible/roles/base/files/10-disable-ipv6.conf
  ansible/roles/base/tasks/main.yml
Due: test ansible

ansible: use rsync to speed up the copy of the salad/executor packages
  .gitlab-ci.yml
  .gitlab-ci/valve-infra-container-build.sh
  ansible/requirements.yml
  ansible/roles/executor/tasks/main.yml
  ansible/roles/salad/tasks/main.yml
Due: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

Makefile: add a way to live-provision running servers
  Makefile
  ansible/hosts
Due: test ansible

valve-infra-container: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

Makefile/vivian: set the farm name automatically
  Makefile
  README.md
Due: none

README: change the suggested container name
  README.md
Due: none

Makefile/vivian: drop the requirement for gitlab
  Makefile
  README.md
  vivian/vivian
Due: none

Makefile/vivian: make the default to use a local container
  Makefile
  README.md
Due: none

vivian: convert tabs into spaces
  vivian/vivian
Due: none

Makefile/vpdu: do not document the overriding the port
  README.md
Due: none

vivian: drop docker forwarding
  README.md
  ansible/roles/firewall/files/50-development.nft
  vivian/vivian
Due: test ansible

executor/job: expose the machine object to the job description
  executor/server/src/valve_gfx_ci/executor/server/job.py
  executor/server/src/valve_gfx_ci/executor/server/mars.py
  executor/server/src/valve_gfx_ci/executor/server/tests/test_job.py
Due: test ansible

valve-infra-container: add a monitoring role
  .gitlab-ci/valve-infra-base-container-build.sh
  Makefile
  ansible/gateway.yml
  ansible/roles/firewall/files/50-development.nft
  ansible/roles/monitoring/defaults/main.yml
  ansible/roles/monitoring/files/11-influxdb.nft
  ansible/roles/monitoring/handlers/main.yml
  ansible/roles/monitoring/tasks/main.yml
  ansible/roles/monitoring/templates/influxdb.service.d_override.conf.j2
  ansible/roles/monitoring/templates/influxdb_configure.service.j2
  ansible/roles/monitoring/templates/influxdb_configure.sh.j2
  ansible/roles/monitoring/templates/linux_system.yml.j2
  ansible/roles/monitoring/templates/telegraf.conf.j2
  ansible/roles/wireguard/tasks/main.yml
  vivian/vivian
Due: test ansible

container: add a pre-configured telegraf container
  .gitlab-ci.yml
  .gitlab-ci/telegraf-container-build.sh
  .gitlab-ci/telegraf.conf
  Makefile
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

ci: cut new versions of the valve-infra-container and its base
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

vpdu: use the q35 machine alias for the DUTs
  vivian/vpdu.py
Due: none

vivian: add support to 9pfs shared folders from the host
  vivian/vivian
Due: none

Makefile: allow using the SSH_ID_KEY variable with *-provision
  Makefile
Due: none

executor/client: fail the job when mcli is needed and not installed
  executor/client/src/valve_gfx_ci/executor/client/client.py
Due: test ansible

valve-infra-container: collect metrics from the gitlab runners
  ansible/gateway.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/monitoring/templates/telegraf.conf.j2
  executor/server/src/valve_gfx_ci/executor/server/templates/gitlab_runner_config.toml.j2
Due: test ansible

valve-infra-container/telegraf: collect all SMART statistics
  ansible/roles/monitoring/templates/telegraf.conf.j2
Due: test ansible

valve-infra-container/telegraf: lower the polling rate to 15s
  ansible/roles/monitoring/templates/telegraf.conf.j2
Due: test ansible

monitoring: set the decimal places to 0 for the CPU count
  ansible/roles/monitoring/templates/linux_system.yml.j2
Due: test ansible

container/telegraf: run telegraf as root
  .gitlab-ci/telegraf-container-build.sh
Due: none

ci: bump the valve-infra / telegraf containers
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

ansible/executor: drop an old mention of BOOTS as a service
  ansible/roles/executor/tasks/main.yml
Due: test ansible

ansible/monitoring: make the influxdb port configurable
  ansible/gateway.yml
  ansible/roles/monitoring/templates/influxdb.service.d_override.conf.j2
  ansible/roles/monitoring/templates/influxdb_configure.sh.j2
  ansible/roles/monitoring/templates/telegraf.conf.j2
  vivian/vivian
Due: test ansible

ansible/monitoring: make the telegraf_proxy port configurable
  ansible/gateway.yml
  ansible/roles/firewall/files/50-development.nft
  ansible/roles/monitoring/files/11-influxdb.nft
  ansible/roles/monitoring/templates/telegraf.conf.j2
Due: test ansible

ci: cut a new valve-infra-container release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

valvetraces: add an enroll-traces command
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: none

valvetraces: create an enrollment container
  .gitlab-ci.yml
  .gitlab-ci/valvetraces-enrollment-container-build.sh
  Makefile
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

valvetraces: set `url_pattern_for_filing_issue` when creating timelines
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: none

Makefile/machine_registration: fix the environment command
  Makefile
Due: none

valvetraces: drop the content_type from the blobs
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: none

valvetraces: cut a new release
  valvetraces/setup.cfg
Due: none

Path conditions:
  python-container: any of: .gitlab-ci.yml
  valve-infra-base-container: any of: .gitlab-ci.yml
  test ansible: any of: ansible/**/*, executor/**/*, salad/**/*
  test ipxe-boot-server: any of: ipxe-boot-server/**/*, .gitlab-ci.yml
  mesa-trigger-container: any of: .gitlab-ci.yml
  mesa-downstream-trigger-container: any of: .gitlab-ci.yml
  valve-infra-container: any of: .gitlab-ci.yml
  machine_registration: any of: .gitlab-ci.yml
