Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ansible provisioning test, gitlab-trigger, salad

ansible provisioning test:
  image: registry.freedesktop.org/freedesktop/ci-templates/x86_64/container-build-base:2021-06-21.2
  variables:
    BASE_CONTAINER_TAG:
    - valve-infra-base-container
    - variables
    - FDO_DISTRIBUTION_TAG
    BASE_IMAGE: $CI_REGISTRY_IMAGE/valve-infra-base-container:$BASE_CONTAINER_TAG
  stage: tests
  ...

gitlab-trigger:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm -rf /var/lib/containers/storage/libpod/*
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  ...

salad:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm -rf /var/lib/containers/storage/libpod/*
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  ...

ci: Drop vulkan deps from machine_registration container
  .gitlab-ci.yml
  .gitlab-ci/machine-registration-container-build.sh
Due: gitlab-trigger, salad

gfxinfo: allow the vulkan import to fail
  gfxinfo/src/valve_gfx_ci/gfxinfo/gfxinfo_vulkan.py
Due: none

ci: Fix machine registration name
  .gitlab-ci.yml
Due: gitlab-trigger, salad

valvetraces/gpudriver: smarter field selection to pick when merging
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

executor/server: be more specific with the wanted Jinja2 version
  executor/server/setup.cfg
Due: none

ansible: Upgrade the default_kernel
  .gitlab-ci.yml
  ansible/gateway.yml
Due: ansible provisioning test, gitlab-trigger, salad

valvetraces: collect information about the machine using lspci
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

gfxinfo: fix the listing of pci devices
  gfxinfo/src/valve_gfx_ci/gfxinfo/__init__.py
Due: none

Makefile: fix using the ssk-key
  Makefile
Due: none

Makefile: use the latest version of container images
  Makefile
Due: none

Makefile: add support for building the machine_registration container
  Makefile
Due: none

README: update the VIVIAN instructions
  README.md
Due: none

gitlab-trigger: Remove
  .gitlab-ci/mesa-downstream-trigger-container.sh
  containers/gitlab-trigger/Dockerfile
  containers/gitlab-trigger/README.md
  containers/gitlab-trigger/bin/ensure_container.sh
  containers/gitlab-trigger/bin/submit_job.sh
  local_build.sh
Due: gitlab-trigger

ci: Bump mesa-downstream-trigger-container
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ansible: add a wireguard role
  .gitlab/Wireguard peer.md
  README.md
  ansible/gateway.yml
  ansible/roles/network_setup/templates/network_setup.j2
  ansible/roles/wireguard/defaults/main.yml
  ansible/roles/wireguard/files/00-wait-for-key-generation.conf
  ansible/roles/wireguard/handlers/main.yml
  ansible/roles/wireguard/tasks/main.yml
  ansible/roles/wireguard/templates/wg0.conf.j2
  ansible/roles/wireguard/templates/wg0_key_gen.sh.j2
  ansible/roles/wireguard/templates/wg0_keys.service.j2
Due: ansible provisioning test

valve-infra-container: cut a new release with wireguard
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ansible: allow wg clients to access the public interface
  .gitlab-ci.yml
  README.md
  ansible/gateway.yml
  ansible/roles/network_setup/defaults/main.yml
  ansible/roles/network_setup/tasks/main.yml
  ansible/roles/network_setup/templates/network_setup.j2
  ansible/roles/network_setup/templates/wg0.conf.j2
  ansible/roles/wireguard/defaults/main.yml
  ansible/roles/wireguard/files/00-wait-for-key-generation.conf
  ansible/roles/wireguard/handlers/main.yml
  ansible/roles/wireguard/tasks/main.yml
  ansible/roles/wireguard/templates/wg0_key_gen.sh.j2
  ansible/roles/wireguard/templates/wg0_keys.service.j2
Due: ansible provisioning test, gitlab-trigger, salad

drop local_build.sh
  local_build.sh
Due: none

executor/client: use 10.42.0.1 as a default executor endpoint
  executor/client/src/valve_gfx_ci/executor/client/__main__.py
Due: gitlab-trigger

executor/client: fix the forwarding of CTRL+C
  executor/client/src/valve_gfx_ci/executor/client/client.py
Due: gitlab-trigger

executor/client: cut a new release
  executor/client/setup.cfg
Due: gitlab-trigger

autologin: use the current console rather than tty1
  ansible/roles/autologin/files/override.conf
  ansible/roles/autologin/tasks/main.yml
Due: ansible provisioning test

Makefile: do not override the entrypoint of the DUT containers
  Makefile
Due: none

vivian: run systemd in a terminal
  Makefile
  ansible/roles/base/tasks/main.yml
Due: ansible provisioning test

valve-infra-container: cut a new release
  .gitlab-ci.yml
Due: gitlab-trigger, salad

README: prettify the templates in the Wireguard section
  README.md
Due: none

gitlab: move the wireguard peer template to the expected folder
  .gitlab/issue_templates/Wireguard peer.md
Due: none

wireguard: Remove backslashes from issue template
  .gitlab/issue_templates/Wireguard peer.md
Due: none

Add tchar to the list of allowed public keys
  ansible/roles/network_setup/templates/wg0.conf.j2
Due: ansible provisioning test

wireguard: do not set saveconfig
  ansible/roles/network_setup/templates/wg0.conf.j2
Due: ansible provisioning test

valvetraces: return the value in get_env_var_or_fail()
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: convert the remaining env getters to get_env_var_or_fail
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces: cut a new release
  valvetraces/setup.cfg
Due: gitlab-trigger

executor/client: Perform streaming multipart uploads
  executor/client/pyproject.toml
  executor/client/setup.cfg
  executor/client/src/valve_gfx_ci/executor/client/client.py
Due: gitlab-trigger

ci: Bump trigger containers
  .gitlab-ci.yml
Due: gitlab-trigger, salad

valvetraces: use the CI_PROJECT_PATH for the job timeline project
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

ci: Bump the containers to be super sure
  .gitlab-ci.yml
Due: gitlab-trigger, salad

Fix code duplication
  .gitlab-ci.yml
  executor/client/setup.cfg
  executor/client/src/valve_gfx_ci/executor/client/client.py
Due: gitlab-trigger, salad

move valve-infra-container-base build to new script
  .gitlab-ci.yml
  .gitlab-ci/valve-infra-base-container-build.sh
  Makefile
Due: gitlab-trigger, salad

Path conditions:
  ansible provisioning test: any of: ansible/**/*
  gitlab-trigger: any of: containers/gitlab-trigger/**/*, executor/client/**/*, valvetraces/**/*, .gitlab-ci.yml
  salad: any of: salad/**/*, .gitlab-ci.yml
