Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: executor, gitlab-sync, machine_registration, farm-runner, valve-infra

.gitlab-ci.yml:

stages:
- pip
- containers
- tests

variables:
  GIT_SUBMODULE_STRATEGY: recursive

.pip_package base:
  image: python:3.9
  stage: pip
  rules:
    - changes:
      - $CI_JOB_NAME/setup.cfg
      - .gitlab-ci.yml
  script:
    - pip install build twine
    - python3 -m build $CI_JOB_NAME
    - if [[ "$CI_COMMIT_BRANCH" == "master" ]] && [[ -n "$TWINE_PASSWORD" ]]; then twine upload -u "__token__" $CI_JOB_NAME/dist/; fi

gfxinfo:
  extends:
    - .pip_package base
  variables:
    TWINE_PASSWORD: $PIP_GFXINFO_TOKEN


.container base:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
    - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  after_script:
    - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then docker push $IMAGE_NAME; fi

executor:
  extends:
    - .container base
  rules:
    - changes:
      - containers/executor/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME -f executor/Dockerfile .

gitlab-sync:
  extends:
    - .container base
  rules:
    - changes:
      - containers/gitlab-sync/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME ./containers/gitlab-sync
    - |
       docker run --rm \
           -v $(pwd)/htmlcov:/app/htmlcov \
           --entrypoint=sh $IMAGE_NAME \
           -c 'pip install tox && tox'

machine_registration:
  extends:
    - .container base
  rules:
    - changes:
      - machine_registration/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME machine_registration

farm-runner:
  extends:
    - .container base
  rules:
    - changes:
      - containers/farm-runner/**
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME containers/farm-runner

valve-infra:
  extends:
    - .container base
  rules:
    - changes:
      - Dockerfile
      - .gitlab-ci.yml
  script:
    - docker build -t $IMAGE_NAME .

README: Fix run command
  README.md
Due: none

farm-runner: Build and submit Mesa test jobs
  containers/farm-runner/Dockerfile
  containers/farm-runner/README.md
  containers/farm-runner/bin/build_internal_container.sh
  containers/farm-runner/bin/client.py
  containers/farm-runner/bin/submit_job.sh
Due: farm-runner

farm-runner: Adding debug logging for buildah
  containers/farm-runner/bin/build_internal_container.sh
Due: none

artifact-reaper: New component
  containers/artifact-reaper/Dockerfile
  containers/artifact-reaper/minio-put.sh
  containers/farm-runner/bin/submit_job.sh
Due: none

farm-runner: Build and submit Mesa test jobs
  containers/farm-runner/bin/submit_job.sh
Due: none

ci: Fix executor file path
  .gitlab-ci.yml
Due: executor, gitlab-sync, machine_registration, farm-runner, valve-infra

README: Update the documentation
  README.md
  entrypoint
Due: none

entrypoint: Fix broken TMP_MOUNT reference
  entrypoint
Due: none

Avoid sending a lots of temporary files to container build contexts
  .dockerignore
Due: none

machine_registration: Avoid Alpine package version mismatches
  machine_registration/Dockerfile
Due: machine_registration

gfxinfo: correct typo importing backports.cached_property
  gfxinfo/src/gfxinfo/__init__.py
Due: none

gitlab-integration: Use the Mesa commit rather than templates commit
  containers/farm-runner/bin/build_internal_container.sh
Due: none

gitlab-integration: Collapse to a single script for job submission
  containers/farm-runner/bin/build_internal_container.sh
  containers/farm-runner/bin/submit_job.sh
Due: none

Force a rebuild of the containers
  .gitlab-ci.yml
Due: executor, gitlab-sync, machine_registration, farm-runner, valve-infra

add the valvetraces project
  .gitlab-ci.yml
  valvetraces/LICENSE
  valvetraces/README.md
  valvetraces/pyproject.toml
  valvetraces/setup.cfg
  valvetraces/src/valvetraces/__init__.py
Due: executor, gitlab-sync, machine_registration, farm-runner, valve-infra

gitlab-ci/pip: limit the execution to changes done to setup.cfg
  .gitlab-ci.yml
Due: executor, gitlab-sync, machine_registration, farm-runner, valve-infra

docker-compose: remove \" from environment variables
  docker-compose.yml
Due: none

gitlab-ci/pip: make sure to install 'build' before using it
  .gitlab-ci.yml
Due: executor, gitlab-sync, machine_registration, farm-runner, valve-infra

boots: set the default kernel command line
  docker-compose.yml
Due: none

gitlab-ci/pip: fix a multiline command
  .gitlab-ci.yml
Due: executor, gitlab-sync, machine_registration, farm-runner, valve-infra

gfxinfo: release 0.0.4
  gfxinfo/setup.cfg
Due: none

gfxinfo: simplify code in VulkanHeap and remove unused constants
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
Due: none

gfxinfo: use the vulkan bindings instead of vulkaninfo
  gfxinfo/setup.cfg
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
Due: none

gfxinfo: use directly Vulkan's own VulkanDeviceType enumeration
  gfxinfo/src/gfxinfo/vulkan.py
Due: none

gfxinfo: use directly Vulkan's own version value
  gfxinfo/src/gfxinfo/vulkan.py
Due: none

gfxinfo: rename the local vulkan.py to avoid conflicts
  gfxinfo/src/gfxinfo/__init__.py
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
Due: none

executor: pep8 fixes
  executor/app.py
  executor/client.py
  executor/executor.py
Due: none

executor: s/summon_sergent_hartman/start_sergent_hartman/
  executor/executor.py
Due: none

pdu: remove some debug code
  executor/executor.py
  pdu/__init__.py
Due: none

executor/Machine: drop all mentions of the console attribute
  executor/executor.py
Due: none

executor: inline bootsclient in executor.py
  bootsclient/__init__.py
  executor/executor.py
Due: none

gitlab-sync: Simplify tag handling
  containers/gitlab-sync/gitlab_sync.py
Due: gitlab-sync

gitlab-sync: Add event abstraction
  containers/gitlab-sync/gitlab_sync.py
  containers/gitlab-sync/test_gitlab_sync.py
Due: gitlab-sync

gitlab-sync: Non-functional refactorings
  containers/gitlab-sync/gitlab_sync.py
  containers/gitlab-sync/test_gitlab_sync.py
Due: gitlab-sync

gitlab-sync: Use the backoff library
  containers/gitlab-sync/gitlab_sync.py
  containers/gitlab-sync/requirements.txt
  containers/gitlab-sync/test_gitlab_sync.py
Due: gitlab-sync

gitlab-sync: Always restart the service
  docker-compose.yml
Due: none

gitlab-sync: Ensure requests in installed
  containers/gitlab-sync/requirements.txt
Due: gitlab-sync

gitlab-sync: Migrate to Click
  containers/gitlab-sync/gitlab_sync.py
  containers/gitlab-sync/requirements.txt
  containers/gitlab-sync/tox.ini
  docker-compose.yml
Due: gitlab-sync

executor: fix the parsing of the PDU off delay
  executor/executor.py
Due: none

executor: Make the retry logic actually work
  executor/app.py
  executor/executor.py
Due: none
