Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

python-container:
  stage: prep
  before_script:
  - rm -rf /var/lib/containers/storage/libpod/*
  variables:
    FDO_DISTRIBUTION_PACKAGES: python3 python3-pip build-essential libsnmp-dev wget
    FDO_DISTRIBUTION_VERSION: bullseye
    FDO_REPO_SUFFIX: python-container
    FDO_DISTRIBUTION_TAG: '2022-02-11'
  ...

valve-infra-base-container:
  image: registry.freedesktop.org/freedesktop/ci-templates/x86_64/container-build-base:2021-06-21.2
  stage: prep
  variables:
    BASE_IMAGE: archlinux:base-devel-20220130.0.46058
    FDO_DISTRIBUTION_TAG: 2022-03-07.1
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:$FDO_DISTRIBUTION_TAG
  ...

test ansible:
  image: registry.freedesktop.org/freedesktop/ci-templates/x86_64/container-build-base:2021-06-21.2
  variables:
    BASE_CONTAINER_TAG:
    - valve-infra-base-container
    - variables
    - FDO_DISTRIBUTION_TAG
    BASE_IMAGE: $CI_REGISTRY_IMAGE/valve-infra-base-container:$BASE_CONTAINER_TAG
  stage: tests
  ...

test ipxe-boot-server:
  variables:
    TAG:
    - python-container
    - variables
    - FDO_DISTRIBUTION_TAG
  image: $CI_REGISTRY_IMAGE/python-container:$TAG
  dependencies:
  - python-container
  stage: tests
  script:
  - cd ipxe-boot-server/
  - pycodestyle --max-line-length=120 .
  - pip3 install -r requirements.txt
  ...

mesa-trigger-container:
  stage: containers
  before_script:
  - rm -rf /var/lib/containers/storage/libpod/*
  variables:
    FDO_DISTRIBUTION_PACKAGES: bash git python3 python3-pip python3-jinja2 wget findutils
    FDO_REPO_SUFFIX: mesa-trigger
    FDO_DISTRIBUTION_TAG: 2022-03-03.2
    FDO_DISTRIBUTION_VERSION: testing
  ...

mesa-downstream-trigger-container:
  stage: containers
  before_script:
  - rm -rf /var/lib/containers/storage/libpod/*
  variables:
    FDO_BASE_IMAGE: quay.io/buildah/stable
    FDO_DISTRIBUTION_PACKAGES: bash inotify-tools git python3-pip python3-jinja2 skopeo wget findutils
    FDO_REPO_SUFFIX: mesa-downstream-trigger
  ...

valve-infra-container:
  image: registry.freedesktop.org/freedesktop/ci-templates/x86_64/container-build-base:2021-06-21.2
  stage: containers
  variables:
    BASE_CONTAINER_TAG:
    - valve-infra-base-container
    - variables
    - FDO_DISTRIBUTION_TAG
    BASE_IMAGE: $CI_REGISTRY_IMAGE/valve-infra-base-container:$BASE_CONTAINER_TAG
  ...

machine_registration:
  image: registry.freedesktop.org/freedesktop/ci-templates/x86_64/container-build-base:2021-06-21.2
  stage: containers
  variables:
    FDO_DISTRIBUTION_TAG: 2022-02-17.2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:$FDO_DISTRIBUTION_TAG
    IMAGE_NAME_LATEST: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  ...

gitlab-ci: don't hardcode IP in telegraf URL
  .gitlab-ci/telegraf.conf
Due: none

executor/job: raise ValueError if console patterns are invalid regex
  executor/server/src/valve_gfx_ci/executor/server/job.py
  executor/server/src/valve_gfx_ci/executor/server/tests/test_job.py
Due: test ansible

ansible: prepare for the update of ansible-lint
  .gitlab-ci.yml
  .gitlab-ci/valve-infra-container-build.sh
  ansible/gateway.yml
  ansible/roles/systemd_podman/defaults/main.yml
Due: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

valve-infra-container: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

ansible/containers: drop the cni configuration
  ansible/roles/containers/files/87-podman.conflist
  ansible/roles/containers/tasks/main.yml
Due: test ansible

executor: fix the generated url for the kernel/initramfs
  executor/server/src/valve_gfx_ci/executor/server/executor.py
Due: test ansible

ansible: add ana to gitlab_runner_user_whitelist
  ansible/gateway.yml
Due: test ansible

ansible/ssh: add ana's ssh key
  ansible/gateway.yml
Due: test ansible

typo fixes
  Makefile
Due: none

README.md: Add workaround for QEMU bridge in Debian
  README.md
Due: none

README.md: Update list of dependencies
  README.md
Due: none

vivian/{client,vpdu}: add python shebang
  vivian/client.py
  vivian/vpdu.py
Due: none

Makefile: remove registry as part of clean target
  Makefile
Due: none

Makefile: re-work local-registry target
  Makefile
Due: none

ansible: add avahi role for mDNS support on wireguard
  ansible/gateway.yml
  ansible/roles/avahi/defaults/main.yml
  ansible/roles/avahi/files/10-avahi.nft
  ansible/roles/avahi/handlers/main.yml
  ansible/roles/avahi/tasks/main.yml
  ansible/roles/avahi/templates/avahi-daemon.conf.j2
Due: test ansible

Makefile/ipxe: allow warnings when compiling iPXE
  Makefile
Due: none

makefile: handle case of stopped local registry container
  Makefile
Due: none

executor/server/README.md Add missing sentence
  executor/server/README.md
Due: test ansible

pdu/README.md: typo fix & update URL
  executor/server/src/valve_gfx_ci/executor/server/pdu/README.md
Due: test ansible

ansible/dnsmasq: use a conf dir for additional config
  ansible/roles/dnsmasq/tasks/main.yml
  ansible/roles/dnsmasq/templates/dnsmasq.conf.j2
Due: test ansible

ansible/network_setup: read private IP from config.env
  README.md
  ansible/gateway.yml
  ansible/roles/network_setup/templates/network_setup.j2
Due: test ansible

ansible/network_setup: start before dnsmasq
  ansible/roles/network_setup/files/network-setup.service
Due: test ansible

ansible/network_setup: change service type to notify
  ansible/roles/network_setup/files/network-setup.service
  ansible/roles/network_setup/templates/network_setup.j2
Due: test ansible

ansible/network_setup: configure host/addr mapping for private iface
  ansible/roles/network_setup/templates/network_setup.j2
Due: test ansible

machine_registration: default to 'ci-gateway' for mars host
  machine_registration/machine_registration.py
Due: none

ansible/dnsmasq: don't configure private host/addr mapping
  ansible/gateway.yml
Due: test ansible

vivian: don't overwrite config.env on every invocation
  vivian/vivian
Due: none

executor: API REST, add HOST/api/v1/pdus request
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

vivian/README.org: update API request
  vivian/README.org
Due: none

ansible/avahi: fix the creation of the valve-infra-container
  ansible/roles/avahi/tasks/main.yml
Due: test ansible

ansible/dashboard: add avahi in the list of services to monitor
  ansible/gateway.yml
Due: test ansible

executor: API REST, add new requests for the pdu
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

executor: API/pdu: use strings for the port state
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

executor/gitlab: detect when runner verification/unregistration failed
  executor/server/src/valve_gfx_ci/executor/server/gitlab.py
  executor/server/src/valve_gfx_ci/executor/server/tests/test_gitlab.py
Due: test ansible

executor/mars: only unregister runners when retiring them
  executor/server/src/valve_gfx_ci/executor/server/mars.py
Due: test ansible

executor/mars: hold on to expired tokens until confirmed with Gitlab
  executor/server/src/valve_gfx_ci/executor/server/mars.py
Due: test ansible

vivian: don't use ssh batchmode when using priv. key
  vivian/vivian
Due: none

vivian: fix test for __ssh_id
  vivian/vivian
Due: none

Path conditions:
  python-container: any of: .gitlab-ci.yml
  valve-infra-base-container: any of: .gitlab-ci.yml
  test ansible: any of: ansible/**/*, executor/**/*, salad/**/*
  test ipxe-boot-server: any of: ipxe-boot-server/**/*, .gitlab-ci.yml
  mesa-trigger-container: any of: .gitlab-ci.yml
  mesa-downstream-trigger-container: any of: .gitlab-ci.yml
  valve-infra-container: any of: .gitlab-ci.yml
  machine_registration: any of: .gitlab-ci.yml
