Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

build-arch-ansible-container:
  stage: prep
  variables:
    FDO_DISTRIBUTION_PACKAGES: ansible ansible-lint yamllint

ansible:
  stage: lint
  script:
  - chmod -R o-w ansible
  - cd ansible
  - ansible-galaxy collection install kewlfft.aur
  - ansible-lint --version
  - ansible-lint -f plain
  - ansible-playbook --syntax-check gateway.yml

executor:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

machine_registration:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-trigger:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

salad:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

valve-infra: Improve Makefile and documentation
  README.md
  containers/valve-infra/Dockerfile
  containers/valve-infra/Makefile
  containers/valve-infra/README.md
Due: none

local_build: Use podman
  local_build.sh
Due: none

vivian: Use GTK display for QEMU
  vivian/vivian
Due: none

fdo_proxy_registry: Isolates REGISTRY_PROXY_REMOTEURL setting
  ansible/roles/fdo_proxy_registry/tasks/main.yml
Due: ansible

tools/vivian-tmux: run python3
  tools/vivian-tmux.sh
Due: none

tools/vivian-tmux: fix window naming
  tools/vivian-tmux.sh
Due: none

network_setup: Fix another $PRIVATE/private typo.
  ansible/roles/network_setup/templates/network_setup.j2
Due: ansible

ansible: Make gitlab access tokens optional
  ansible/gateway.yml
  ansible/roles/base/tasks/main.yml
Due: ansible

minio_configure: Condition the creation of valvetraces policies.
  ansible/roles/minio/templates/minio_configure.sh.j2
Due: ansible

docs, build: Consolidate our build instructions & documentation.
  .gitignore
  .gitlab-ci.yml
  Makefile
  README.md
  containers/valve-infra/Makefile
  containers/valve-infra/README.md
Due: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

vpdu: Remove some copy and paste duplication.
  vivian/vpdu.py
Due: none

vpdu: Store temporary files in separate directory
  vivian/vpdu.py
Due: none

registries: Add a precondition for the temporary mount point
  ansible/roles/fdo_proxy_registry/tasks/main.yml
  ansible/roles/local_registry/tasks/main.yml
Due: ansible

infra.service: Create a top-level service to manage the infra a group.
  ansible/gateway.yml
  ansible/roles/executor/tasks/main.yml
  ansible/roles/fdo_proxy_registry/tasks/main.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/infra/defaults/main.yml
  ansible/roles/infra/files/infra.service
  ansible/roles/infra/tasks/main.yml
  ansible/roles/local_registry/tasks/main.yml
  ansible/roles/mars/tasks/main.yml
  ansible/roles/minio/tasks/main.yml
  ansible/roles/minio/templates/minio_configure.service.j2
  ansible/roles/salad/tasks/main.yml
  ansible/roles/systemd_podman/templates/systemd-podman.service.j2
Due: ansible

ci: Add missing build dependencies for the valve-infra container
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

ansible, executor: Fix default PXELINUX configuration
  ansible/roles/executor/tasks/main.yml
Due: ansible

minio_configure: Fix typo target vs service
  ansible/roles/minio/templates/minio_configure.service.j2
Due: ansible

gitlab-ci: use podman to generate our containers
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

container/valve-infra: fully qualify the base image of the container
  containers/valve-infra/Dockerfile
Due: none

executor/config: fix the default qualifying rate for Srgt Hartman
  executor/config.py
Due: executor

executor/config: fix the default value of SERGENT_HARTMAN_BOOT_COUNT
  executor/config.py
Due: executor

containers: fully qualify the FROM url
  containers/artifact-reaper/Dockerfile
  containers/valve-infra/Dockerfile
  executor/Dockerfile
  machine_registration/Dockerfile
  salad/Dockerfile
Due: executor, machine_registration, salad

executor/pdu: update the list of drivers
  executor/pdu/README.md
Due: executor

README: fully qualify the registry container name
  README.md
Due: none

executor/tox: speed up the test execution by specifying the tests' folder
  executor/tox.ini
Due: executor

executor: drop the MaRS service
  ansible/gateway.yml
  ansible/roles/executor/meta/main.yml
  ansible/roles/executor/tasks/main.yml
  ansible/roles/mars/tasks/main.yml
  executor/app.py
  executor/config.py
  executor/mars.py
  executor/mars.yaml
  executor/requirements.txt
Due: ansible, executor

valve-infra: move the gitlab runner config to the temporary partition
  ansible/roles/executor/tasks/main.yml
  ansible/roles/gitlab_runner/tasks/main.yml
Due: ansible

ipxe-boot-server: document the templates' format and variables
  ipxe-boot-server/README.md
Due: none

executor: generate gitlab's config.toml with Jinja2
  ansible/roles/executor/tasks/main.yml
  executor/README.md
  executor/app.py
  executor/config.py
  executor/gitlab.py
  executor/gitlab_runner.py
  executor/mars.py
  executor/requirements.txt
  executor/templates/gitlab_runner_config.toml.j2
  executor/tests/test_gitlab.py
  executor/tests/test_gitlab_runner.py
Due: ansible, executor

gitlab_runner: Add a user authentication prebuild script.
  ansible/gateway.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/gitlab_runner/templates/gitlab_runner_prebuild.sh.j2
  executor/templates/gitlab_runner_config.toml.j2
Due: ansible, executor

gitlab-ci: run all of our jobs on our gateways
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

executor: drop the click dependency
  executor/app.py
  executor/requirements.txt
Due: executor

ipxe-boot-server: remove an outdated comment
  ipxe-boot-server/app.py
Due: none

ipxe-boot-server: add an end-point to update the data root
  ipxe-boot-server/README.md
  ipxe-boot-server/app.py
Due: none

.gitlab-ci: fix the creation of the containers
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

executor: fix the default gitlab_runner template
  executor/templates/gitlab_runner_config.toml.j2
Due: executor

gitlab_runner: Make the authentication script more portable
  ansible/roles/gitlab_runner/templates/gitlab_runner_prebuild.sh.j2
Due: ansible

ipxe-boot-server: make the CA valid for 10 years
  ipxe-boot-server/Makefile
Due: none

container/valve-infra: do not bake the FARM_NAME
  .gitlab-ci.yml
  Makefile
  ansible/roles/base/tasks/main.yml
Due: build-arch-ansible-container, ansible, executor, machine_registration, gitlab-trigger, salad

vivian: fix the boot sequence after the MaRS rewrite
  Makefile
  vivian/vivian
Due: none

Path conditions:
  build-arch-ansible-container: any of: .gitlab-ci.yml
  ansible: any of: ansible/**/*, .gitlab-ci.yml
  executor: any of: executor/**/*, .gitlab-ci.yml
  machine_registration: any of: machine_registration/**/*, gfxinfo/**/*, .gitlab-ci.yml
  gitlab-trigger: any of: containers/gitlab-trigger/**/*, .gitlab-ci.yml
  salad: any of: salad/**/*, .gitlab-ci.yml
