Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

Path conditions:
  python-container: any of: .gitlab-ci.yml
  valve-infra-base-container: any of: .gitlab-ci.yml
  test ansible: any of: ansible/**/*, executor/**/*, salad/**/*
  test ipxe-boot-server: any of: ipxe-boot-server/**/*, .gitlab-ci.yml
  mesa-trigger-container: any of: .gitlab-ci.yml
  mesa-downstream-trigger-container: any of: .gitlab-ci.yml
  valve-infra-container: any of: .gitlab-ci.yml
  machine_registration: any of: .gitlab-ci.yml

ansible/dashboard/services.sh: use "OK" for status
  ansible/roles/dashboard/files/bin/services.sh
Due: test ansible

valve-infra-base-container: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

upgade valve-infra-base-container's archlinux:base-devel tag
  .gitlab-ci.yml
  Makefile
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

valve-infra-container: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

executor/pdu: fix pep8 space-after-keyword failures
  executor/server/src/valve_gfx_ci/executor/server/pdu/drivers/virtual.py
Due: test ansible

Makefile: add warning to set ssh key for vivian-connect
  Makefile
Due: none

Makefile: remove variable PYTHON
  Makefile
Due: none

Makefile: fix name of directory to be removed
  Makefile
Due: none

executor/mars: add new field for discover data
  executor/server/src/valve_gfx_ci/executor/server/mars.py
Due: test ansible

executor: REST API, add new endpoint /machine/discover
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

executor: REST API /machines, add information about PDU/port_id
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

executor: update machine with discovery data
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

executor/mars.py: add a new function to update fields
  executor/server/src/valve_gfx_ci/executor/server/mars.py
Due: test ansible

executor: add new endpoints machine/{activate,retire}
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

README.md: Add information about the API REST
  executor/server/README.md
Due: test ansible

ansible/dashboard/machines: show PDU/pdu_port_id
  ansible/roles/dashboard/files/bin/machines.py
Due: test ansible

executor: add new event to cancel job
  executor/server/src/valve_gfx_ci/executor/server/executor.py
Due: test ansible

executor: add new endpoint machine/cancel_job
  executor/server/README.md
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

executor: add a timeout to discover_data
  executor/server/README.md
  executor/server/src/valve_gfx_ci/executor/server/app.py
  executor/server/src/valve_gfx_ci/executor/server/mars.py
Due: test ansible

executor/JobConsole: make sure client_sock is set before using it
  executor/server/src/valve_gfx_ci/executor/server/executor.py
Due: test ansible

vivian: fix setting ssh key id
  vivian/vivian
Due: none

ipxe: disable serial console output
  Makefile
Due: none

Makefile/vivian: update b2c to v0.9.8
  Makefile
Due: none

valve-infra-container-build: ansible-lint: ignore new name casing rule
  .gitlab-ci/valve-infra-container-build.sh
Due: none

executor: forbid retired machines to pick up jobs
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

executor: show retired machines in endpoint /machines
  executor/server/src/valve_gfx_ci/executor/server/mars.py
Due: test ansible

ansible/minio: move from running in a container to using distro version
  .gitlab-ci.yml
  ansible/roles/minio/handlers/main.yml
  ansible/roles/minio/tasks/main.yml
  ansible/roles/minio/templates/minio.service.d_override.conf.j2
Due: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

valve-infra-base-container: install minio-client from the Arch repo
  .gitlab-ci.yml
  .gitlab-ci/valve-infra-base-container-build.sh
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

ansible/minio: pass the environment to minio
  ansible/roles/minio/templates/minio.service.d_override.conf.j2
Due: test ansible

executor/JobConsole: fix an off-by-one which may prevent matching a line
  executor/server/src/valve_gfx_ci/executor/server/executor.py
Due: test ansible

ansible/vpdu: make sure qemu is allowing use of the network bridge
  ansible/roles/vpdu/tasks/main.yml
Due: test ansible

ansible: add vpdu role
  ansible/gateway.yml
  ansible/roles/vpdu/files/vpdu-client.py
  ansible/roles/vpdu/files/vpdu.py
  ansible/roles/vpdu/files/vpdu.service
  ansible/roles/vpdu/handlers/main.yml
  ansible/roles/vpdu/tasks/main.yml
Due: test ansible

ansible/gateway: use 'private' bridge for vpdu
  ansible/gateway.yml
Due: test ansible

ansible/network_setup: rename private iface and use "private" for bridge
  ansible/roles/network_setup/templates/network_setup.j2
Due: test ansible

makefile: rename vivian-dut target and refactor to use REST api
  Makefile
Due: none

ansible/vpdu: add param to set the net bridge for VMs
  ansible/roles/vpdu/defaults/main.yml
  ansible/roles/vpdu/files/vpdu.py
  ansible/roles/vpdu/tasks/main.yml
  ansible/roles/vpdu/templates/vpdu.service.j2
Due: test ansible

ansible/vpdu: open new window in dashboard tmux UI for vpdu DUTs
  ansible/roles/vpdu/files/vpdu.py
Due: test ansible

vpdu: get tmp dir from env if set
  vivian/vpdu.py
Due: none

README: add instructions for using the vpdu and DUT VMs
  README.md
Due: none

ansible/vpdu: mux serial output from dut to saladtcp
  ansible/roles/vpdu/files/vpdu.py
Due: test ansible
