Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

Path conditions:
  python-container: any of: .gitlab-ci.yml
  valve-infra-base-container: any of: .gitlab-ci.yml
  test ansible: any of: ansible/**/*, executor/**/*, salad/**/*
  test ipxe-boot-server: any of: ipxe-boot-server/**/*, .gitlab-ci.yml
  mesa-trigger-container: any of: .gitlab-ci.yml
  mesa-downstream-trigger-container: any of: .gitlab-ci.yml
  valve-infra-container: any of: .gitlab-ci.yml
  machine_registration: any of: .gitlab-ci.yml

Makefile: remove unused variable
  Makefile
Due: none

executor: make sure job_bucket exists at all time
  executor/server/src/valve_gfx_ci/executor/server/executor.py
Due: test ansible

ci: Always re-tag the "latest" container when run on master
  .gitlab-ci.yml
  .gitlab-ci/build_functions.sh
  .gitlab-ci/machine-registration-container-build.sh
  .gitlab-ci/valve-infra-base-container-build.sh
  .gitlab-ci/valve-infra-container-build.sh
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

ci: remove overzealous size-debug prints
  .gitlab-ci/valve-infra-base-container-build.sh
  .gitlab-ci/valve-infra-container-build.sh
Due: none

build_functions: use skopeo rather than podman to tag latest
  .gitlab-ci/build_functions.sh
Due: none

ansible/executor: change the default boot count for Sergeant Hartman
  ansible/gateway.yml
Due: test ansible

update the default b2c to v0.9.5
  Makefile
  ansible/gateway.yml
  valvetraces/README.md
Due: test ansible

valve-infra-container: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

executor/boots: fallback to the default target when bootconfig is None
  executor/server/src/valve_gfx_ci/executor/server/boots.py
Due: test ansible

salad: remove a stray Dockerfile
  salad/Dockerfile
Due: test ansible

ci: remove the outdated TODO of moving to ci-templates
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

ci: remove the TODO of having ansible create the container
  README.md
Due: none

executor: do not reset the job_bucket when starting a job
  executor/server/src/valve_gfx_ci/executor/server/executor.py
Due: test ansible

executor/mars: do not taint the DB if lists are in a different order
  executor/server/setup.cfg
  executor/server/src/valve_gfx_ci/executor/server/mars.py
Due: test ansible

ci: bump the valve-infra-container tag
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

valve-infra-container: remove the world-readable permissions for wg0.conf
  ansible/roles/network_setup/tasks/main.yml
Due: test ansible

valve-infra-container/minio: set the port of the web browser to 9001
  ansible/roles/minio/tasks/main.yml
Due: test ansible

README: update the hacking instructions
  README.md
Due: none

tools: remove vivian-tmux, as it has been superseeded by the dashboard
  tools/vivian-tmux.sh
Due: none

valve-infra-container/dashboard: display the state of wg0
  ansible/roles/dashboard/files/bin/network.sh
  ansible/roles/dashboard/templates/dashboard.yml.j2
Due: test ansible

Makefile: fix the b2c kernel URL
  Makefile
Due: none

ansible: add role to always configure pid1 info
  ansible/gateway.yml
  ansible/roles/base/tasks/main.yml
  ansible/roles/pid1/tasks/main.yml
Due: test ansible

makefile: set valve_infra_root ansible var to fix vivian-provision
  Makefile
Due: none

ansible: remove dependencies definition for executor
  ansible/roles/executor/meta/main.yml
Due: test ansible

ansible: allow overriding the valve-infra root used for local copying
  ansible/gateway.yml
Due: test ansible

ansible/{salad,executor}: copy packages to install
  ansible/roles/executor/tasks/main.yml
  ansible/roles/salad/tasks/main.yml
Due: test ansible

ansible/network_setup: add wireguard nftables rule
  ansible/roles/network_setup/tasks/main.yml
  ansible/roles/network_setup/templates/10-wg.nft.j2
Due: test ansible

ansible: split wireguard config into new role
  ansible/gateway.yml
  ansible/roles/network_setup/defaults/main.yml
  ansible/roles/network_setup/tasks/main.yml
  ansible/roles/wireguard/defaults/main.yml
  ansible/roles/wireguard/tasks/main.yml
  ansible/roles/wireguard/templates/10-wg.nft.j2
  ansible/roles/wireguard/templates/wg0.conf.j2
Due: test ansible

ansible: re-enable firewall
  ansible/gateway.yml
  ansible/roles/minio/tasks/main.yml
  ansible/roles/ntpd/tasks/main.yml
  ansible/roles/sshd/tasks/main.yml
Due: test ansible

ci/valve-infra-base-container-build: remove glances
  .gitlab-ci/valve-infra-base-container-build.sh
Due: none

ansible/firewall: drop rules for docker interfaces, add podman
  ansible/roles/firewall/files/00-base.nft
Due: test ansible

ansible/firewall: fix the default development rules
  ansible/roles/firewall/files/50-development.nft
Due: test ansible

ansible/firewall: allow some outbound connections
  ansible/roles/firewall/files/00-base.nft
Due: test ansible

Makefile/valve-infra-container: default to using the development mode
  Makefile
Due: none

drop outdated mars-as-a-service code
  ansible/gateway.yml
  vivian/vivian
Due: test ansible

ansible/network_setup: remove iptables setup
  ansible/roles/network_setup/templates/network_setup.j2
Due: test ansible

minio: nft: allow connections to console port 9001 from wg0
  ansible/gateway.yml
  ansible/roles/minio/defaults/main.yml
  ansible/roles/minio/templates/minio.nft.j2
Due: test ansible

ansible/firewall: drop random broadcasts on public iface
  ansible/roles/firewall/files/00-base.nft
Due: test ansible

ansible/base: don't try to install a new resolv.conf
  ansible/roles/base/tasks/main.yml
Due: test ansible
