Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gitlab sync, infra

.gitlab-ci.yml:

stages:
- containers
- tests

variables:
  GIT_SUBMODULE_STRATEGY: recursive

.container base:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2

gitlab sync:
  extends:
    - .container base
  rules:
    - changes:
      - containers/gitlab-sync/**
      - .gitlab-ci.yml
  script:
    - docker build -t $CI_REGISTRY_IMAGE/gitlab-sync:latest ./containers/gitlab-sync
    - |
       docker run --rm \
           -v $(pwd)/htmlcov:/app/htmlcov \
           --entrypoint=sh \
           $CI_REGISTRY_IMAGE/gitlab-sync:latest \
           -c 'pip install tox && tox'
    - docker push $CI_REGISTRY_IMAGE/gitlab-sync:latest

infra:
  extends:
    - .container base
  rules:
    - changes:
      - docker-compose.yml
      - .gitlab-ci.yml
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/gitlab-job-runner containers/farm-runner
    - docker push $CI_REGISTRY_IMAGE/gitlab-job-runner
    - docker build -t $CI_REGISTRY_IMAGE/valve-infra .
    - docker push $CI_REGISTRY_IMAGE/valve-infra
    - docker-compose build
    - docker-compose push
    - docker build -t $CI_REGISTRY_IMAGE/machine_registration:latest -f containers/Dockerfile.machine_registration .
    - docker push $CI_REGISTRY_IMAGE/machine_registration:latest
    - docker build -t $CI_REGISTRY_IMAGE/salad:latest -f containers/Dockerfile.salad .
    - docker push $CI_REGISTRY_IMAGE/salad:latest

machine_registration: Add sgt_hartman command.
  machine_registration.py
Due: none

Upgrade to B2C v0.6
  containers/sergant-hartman/src/sergant_hartman/_service.py
  docker-compose.yml
Due: infra

gitlab-ci: move the salad container generation to its own target
  .gitlab-ci.yml
Due: gitlab sync, infra

gitlab-ci: move the machine_registration container generation to its own target
  .gitlab-ci.yml
Due: gitlab sync, infra

gitlab-ci: move the farm-runner container generation to its own target
  .gitlab-ci.yml
Due: gitlab sync, infra

gitlab-ci: reflect the role of the valve-infra container in its name
  .gitlab-ci.yml
Due: gitlab sync, infra

gitlab-ci: factor out the image-name-generation into a variable
  .gitlab-ci.yml
Due: gitlab sync, infra

docker-compose: add a container registry
  docker-compose.yml
Due: infra

gitlab-ci: push containers only when CI is running on master
  .gitlab-ci.yml
Due: gitlab sync, infra

docker-compose: add an ntpd service
  docker-compose.yml
Due: infra

sergent_hartman: Improve some hardcoded service ports.
  containers/sergant-hartman/src/sergant_hartman/_service.py
Due: none

sergent_hartman: Use local treq, not global treq
  containers/sergant-hartman/src/sergant_hartman/_service.py
Due: none

salad: transition from a microservice to library design
  .gitlab-ci.yml
  containers/Dockerfile.salad
  docker-compose.yml
  salad/.coveragerc
  salad/__init__.py
  salad/requirements.txt
  salad/tests/test_app.py
  salad/tox.ini
Due: gitlab sync, infra

pdu-gateway: transition from a microservice to a library design
  docker-compose.yml
  pdu/README.md
  pdu/__init__.py
  pdu/drivers/__init__.py
  pdu/drivers/apc.py
  pdu/drivers/cyberpower.py
  pdu/drivers/dummy.py
  pdu/drivers/snmp.py
  pdu/tests/__init__.py
  pdu/tests/test_drivers.py
  pdu/tests/test_pdu.py
Due: infra

Add a job library
  job/__init__.py
  job/sample_job.yml
Due: none

Add an executor service
  .gitlab-ci.yml
  docker-compose.yml
  executor/Dockerfile
  executor/__init__.py
  executor/app.py
  executor/client.py
  executor/executor.py
  executor/requirements.txt
Due: gitlab sync, infra

Add a bootsclient library
  bootsclient/__init__.py
Due: none

docker-compose: add a minio service
  docker-compose.yml
Due: infra

executor/Machine: cache the local TTY device name
  executor/app.py
  executor/executor.py
Due: none

job: allow jobs without a deadline
  job/__init__.py
Due: none

machine_registration/register: print the machine_id in the console
  machine_registration.py
Due: none

executor: handle machines without a registered PDU
  executor/executor.py
Due: none

executor: source the pdu_off_time value from MaRS
  executor/executor.py
Due: none

app/machine_list: show whether a PDU port has been assigned
  executor/app.py
Due: none

executor: interpret the kernel commandline as a jinja2 template
  executor/executor.py
Due: none

app: keep on retrying failed requests connections
  executor/app.py
Due: none

app: poll MaRS every 5 seconds
  executor/app.py
Due: none

pdu: limit the state change delay to the OFF -> ON transition
  executor/executor.py
  pdu/__init__.py
Due: none

machine_registration/register: output success/failure on the local TTY
  machine_registration.py
Due: none

app/post_job: return a different error code on failure
  executor/app.py
  executor/executor.py
Due: none

client: add a 'wait' flag
  executor/client.py
Due: none

executor: add a service that will qualify test machines
  .gitlab-ci.yml
  containers/sergant-hartman/Dockerfile
  containers/sergant-hartman/setup.py
  containers/sergant-hartman/src/sergant_hartman/__init__.py
  containers/sergant-hartman/src/sergant_hartman/_service.py
  containers/sergant-hartman/src/sergant_hartman/test/__init__.py
  containers/sergant-hartman/src/sergant_hartman/test/test_sergant_hartman.py
  containers/sergant-hartman/src/twisted/plugins/sergant_hartman_plugin.py
  docker-compose.yml
  executor/app.py
  executor/executor.py
  job_templates/bootloop.yml.j2
  job_templates/register.yml.j2
Due: gitlab sync, infra

executor/client: transmit CTRL+C rather than shutting down the client
  executor/client.py
Due: none

executor/client: disable the linebuffer on stdin
  executor/client.py
Due: none

minio: set the admin credentials
  docker-compose.yml
  entrypoint
Due: infra

entrypoint: push to minio the default kernel and initramfs
  Dockerfile
  entrypoint
Due: none

job_templates: use the local kernel/initramfs
  job_templates/bootloop.yml.j2
  job_templates/register.yml.j2
Due: none

docker-compose: add a registry acting like a proxy to fdo's registry
  docker-compose.yml
  job_templates/bootloop.yml.j2
  job_templates/register.yml.j2
Due: infra

executor/mars_poller: only replace the port when it changes
  executor/executor.py
  pdu/__init__.py
  pdu/drivers/snmp.py
Due: none

executor: Only poll sys.stdin for readability when it's a tty.
  executor/client.py
Due: none
