Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-container, valve-infra-base-container, test ansible, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

Path conditions:
  python-container: any of: .gitlab-ci.yml
  valve-infra-base-container: any of: .gitlab-ci.yml
  test ansible: any of: ansible/**/*, executor/**/*, salad/**/*
  test ipxe-boot-server: any of: ipxe-boot-server/**/*, .gitlab-ci.yml
  mesa-trigger-container: any of: .gitlab-ci.yml
  mesa-downstream-trigger-container: any of: .gitlab-ci.yml
  valve-infra-container: any of: .gitlab-ci.yml
  machine_registration: any of: .gitlab-ci.yml

ansible/vpdu: set bridge to virbr0
  ansible/roles/vpdu/files/vpdu.py
Due: test ansible

makefile: remove vpdu target and port config w/ vivian
  Makefile
Due: none

vpdu: send serial output from VM to a log file
  ansible/roles/vpdu/files/vpdu.py
Due: test ansible

vpdu: only use kvm for DUT VM if the CPU supports VT
  ansible/roles/vpdu/files/vpdu.py
Due: test ansible

README: add info about configuring nested KVM when using vivian
  README.md
Due: none

vivian: remove param to set vpdu port
  vivian/vivian
Due: none

executor/mars: add ability to auto-include vpdu config in marsdb
  ansible/roles/vpdu/tasks/main.yml
  executor/server/src/valve_gfx_ci/executor/server/config.py
  executor/server/src/valve_gfx_ci/executor/server/mars.py
Due: test ansible

valve-infra-container: cut a new release
  .gitlab-ci.yml
Due: python-container, valve-infra-base-container, test ipxe-boot-server, mesa-trigger-container, mesa-downstream-trigger-container, valve-infra-container, machine_registration

vivian: don't add vpdu config to mars_db
  vivian/vivian
Due: none

vivian: copy host cpu info into guest
  vivian/vivian
Due: none

Makefile: start local registry when building valve-infra-base-container
  Makefile
Due: none

ansible: create app-specific config dir in /mnt/permanent
  ansible/gateway.yml
  ansible/roles/base/tasks/main.yml
Due: test ansible

ansible/minio: create password(s) on first boot
  ansible/roles/minio/tasks/main.yml
  ansible/roles/minio/templates/minio.service.d_override.conf.j2
  ansible/roles/minio/templates/minio_configure.service.j2
  ansible/roles/minio/templates/minio_genpw.service.j2
  ansible/roles/minio/templates/minio_genpw.sh.j2
Due: test ansible

ansible/minio_genpw: create /mnt/permanent/config.d/ if missing
  ansible/roles/minio/templates/minio_genpw.service.j2
Due: test ansible

ansible/minio: set the non-confidential env vars in base_config.env
  ansible/roles/minio/tasks/main.yml
Due: test ansible

ansible/minio_configure: default to an empty password for valvetraces
  ansible/roles/minio/templates/minio_configure.sh.j2
Due: test ansible

ansible/executor: source /mnt/permanent/config.d/minio.env
  ansible/roles/executor/templates/executor_systemd_unit.j2
Due: test ansible

ansible/minio: allow config.env to be missing
  ansible/roles/minio/templates/minio.service.d_override.conf.j2
  ansible/roles/minio/templates/minio_configure.service.j2
Due: test ansible

ansible/executor: use the `config_env_file` var rather than hardcode
  ansible/roles/executor/templates/executor_systemd_unit.j2
Due: test ansible

ansible/gateway: add minio_configure to list of dashboard services
  ansible/gateway.yml
Due: test ansible

ansible/minio_configure: reload systemd unit before restarting service
  ansible/roles/minio/handlers/main.yml
Due: test ansible

minio_configure: retry when minio server is unavailable
  ansible/roles/minio/templates/minio_configure.sh.j2
Due: test ansible

executor/Machine: output the machine's full name in the REST API
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: test ansible

ansible: add the en_US.UTF-8 locale
  ansible/requirements.yml
  ansible/roles/autologin/tasks/main.yml
Due: test ansible

ansible: add new interactive dashboard
  ansible/roles/dashboard/files/bin/machines.py
  ansible/roles/dashboard/tasks/main.yml
Due: test ansible

ansible: replace dashboards scripts
  ansible/roles/dashboard/files/bin/common.sh
  ansible/roles/dashboard/files/bin/network.sh
  ansible/roles/dashboard/files/bin/services.sh
  ansible/roles/dashboard/files/bin/status.py
  ansible/roles/dashboard/templates/dashboard.yml.j2
Due: test ansible

vivian: use correct invalid token marker
  vivian/vivian
Due: none

vpdu: suppress logging lines by default
  ansible/roles/vpdu/files/vpdu.py
Due: test ansible

executor/server/pdu: less verbose logging
  executor/server/src/valve_gfx_ci/executor/server/pdu/__init__.py
  executor/server/src/valve_gfx_ci/executor/server/pdu/drivers/virtual.py
Due: test ansible

machines.py: improve error messages
  ansible/roles/dashboard/files/bin/machines.py
Due: test ansible

machines.py: fix number of training boots
  ansible/roles/dashboard/files/bin/machines.py
Due: test ansible

machines.py: use columns with different widths
  ansible/roles/dashboard/files/bin/machines.py
Due: test ansible

ansible/gitlab-runner: install from Arch repos instead of container
  ansible/roles/executor/tasks/main.yml
  ansible/roles/gitlab_runner/files/gitlab_runner_seccomp.json
  ansible/roles/gitlab_runner/handlers/main.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/gitlab_runner/templates/gitlab-runner.service.d_override.conf.j2
Due: test ansible

machines.py: map keys q/Q to exit
  ansible/roles/dashboard/files/bin/machines.py
Due: test ansible

machines.py: use Frame as main widget
  ansible/roles/dashboard/files/bin/machines.py
Due: test ansible

dashboard: have one single dashboard
  ansible/roles/dashboard/files/bin/dashboard.py
  ansible/roles/dashboard/files/bin/status.py
  ansible/roles/dashboard/templates/dashboard.yml.j2
Due: test ansible
