Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

build-arch-ansible-container:
  variables:
    FDO_DISTRIBUTION_TAG: valve-infra-arch-ansible-2021-12-23
    FDO_DISTRIBUTION_PACKAGES: ansible ansible-lint yamllint
  stage: prep
  before_script:
  - rm /var/lib/containers/storage/* -rf

ansible:
  variables:
    FDO_DISTRIBUTION_TAG: valve-infra-arch-ansible-2021-12-23
  stage: lint
  script:
  - chmod -R o-w ansible
  - cd ansible
  - ansible-galaxy collection install kewlfft.aur
  - ansible-lint --version
  - ansible-lint -f plain
  - ansible-playbook --syntax-check gateway.yml

valve-infra:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

executor:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

machine_registration:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

gitlab-trigger:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

salad:
  image: quay.io/podman/stable:latest
  stage: containers
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  - rm /var/lib/containers/storage/* -rf
  - if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then podman login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY; fi
  script:
  ...

ci-trigger-container:
  stage: containers
  variables:
    FDO_DISTRIBUTION_PACKAGES: python3 python3-pip wget findutils bash
    FDO_DISTRIBUTION_TAG: 2022-01-25-ci-trigger-2
    FDO_DISTRIBUTION_VERSION: testing
    FDO_DISTRIBUTION_EXEC: .gitlab-ci/${CI_JOB_NAME}.sh

ansible: Collapse time tasks into base
  ansible/roles/base/tasks/main.yml
  ansible/roles/base/tasks/time.yml
Due: ansible, valve-infra

ansible: Manage the find_nic script
  ansible/roles/network_setup/files/find_nic
  ansible/roles/network_setup/tasks/main.yml
Due: ansible, valve-infra

Makefile: Clarify port names
  Makefile
Due: valve-infra, executor

vivian: Fix typo in scp_options
  vivian/vivian
Due: none

ci: Add a python container that's useful for our testing / deployment
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

vivian: Hoist the ssh options setting to be used by other routines
  vivian/vivian
Due: none

vivian: Add a note that mars_db.yaml provisioning isn't working
  vivian/vivian
Due: none

Makefile: Upgrade b2c
  Makefile
  ansible/gateway.yml
Due: ansible, valve-infra, executor

ci: Clarify the situation with ci-templates
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

gitlab-trigger: Do not verify pulls from the local registry
  containers/gitlab-trigger/bin/ensure_container.sh
Due: gitlab-trigger

vivian: Ensure SSH is responsive before trying to provision over SSH
  vivian/vivian
Due: none

vivian: Fix bug in provisioning FARM_NAME
  vivian/vivian
Due: none

ansible: Enable the podman.service
  ansible/roles/containers/tasks/main.yml
Due: ansible, valve-infra

ansible, base: Add fallback nameservers
  ansible/roles/base/files/resolv.conf
Due: ansible, valve-infra

ansible: Fix broken when conditions
  ansible/roles/base/tasks/main.yml
  ansible/roles/base/tasks/time.yml
  ansible/roles/dnsmasq/handlers/main.yml
  ansible/roles/firewall/handlers/main.yml
  ansible/roles/minio/handlers/main.yml
  ansible/roles/ntpd/handlers/main.yml
  ansible/roles/sshd/handlers/main.yml
  ansible/roles/systemd_podman/handlers/main.yml
Due: ansible, valve-infra

vivian: Tidy up the logging and enter the dashboard
  Makefile
  vivian/vivian
Due: valve-infra, executor

vpdu: Ensure VPDU_DIR exists before creating disks
  vivian/vpdu.py
Due: none

ansible: Fix linter errors in the dashbaord task.
  ansible/roles/dashboard/tasks/main.yml
Due: ansible, valve-infra

ci: Add a recipe for the base container
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

minio: The client is installed in the base package now
  ansible/roles/minio/tasks/main.yml
Due: ansible, valve-infra

executor: Fix some boots tests
  executor/server/src/valve_gfx_ci/executor/server/tests/test_boots.py
Due: executor

ipxe-boot-server: On debian, it is python3
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

Makefile: Remove duplicate vivian options
  Makefile
Due: valve-infra, executor

ci: Move machine_registration to the ci-templates build pattern
  .gitlab-ci.yml
  .gitlab-ci/machine-registration-container-build.sh
  local_build.sh
  machine_registration/Dockerfile
  vivian/vpdu.py
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

ci: Make sure to call set-python-image in all cases
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

executor: Decontainerize
  .gitlab-ci.yml
  ansible/roles/executor/tasks/main.yml
  ansible/roles/executor/templates/executor_systemd_unit.j2
  executor/Dockerfile
  executor/server/src/valve_gfx_ci/executor/server/config.py
  local_build.sh
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

ci: Add a fixme to move ipxe-boot-server to a package
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

ci: Drop the old valve-infra container stage
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

executor: Fix typo
  executor/server/src/valve_gfx_ci/executor/server/app.py
Due: executor

ci: Run ansible provisioning test atop the base container
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

ci: Reorganize the Python build stages
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

ci: Delete old Dockerfile and rootfs
  containers/valve-infra/Dockerfile
  containers/valve-infra/rootfs/etc/hostname
  containers/valve-infra/rootfs/etc/locale.conf
  containers/valve-infra/rootfs/etc/locale.gen
  containers/valve-infra/rootfs/etc/localtime
  containers/valve-infra/rootfs/etc/shadow
Due: valve-infra

ci: Add valve-infra container deployment
  .gitlab-ci.yml
  .gitlab-ci/valve-infra-container-build.sh
  Makefile
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

executor: Adjust defaults after decontainerizing
  executor/server/src/valve_gfx_ci/executor/server/app.py
  executor/server/src/valve_gfx_ci/executor/server/config.py
Due: executor

vivian: fix parsing the --initial-fleet-size parameter
  vivian/vivian
Due: none

vivian: keep mars_db across runs
  vivian/vivian
Due: none

Makefile: add the SSH_ID_KEY parameter
  Makefile
Due: valve-infra, executor

vivian: get the vPDU port from the command line
  Makefile
  vivian/vivian
Due: valve-infra, executor

ci: Fix rm command on the container-base
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

ci: Fix typo in Python deployment
  .gitlab-ci.yml
Due: build-arch-ansible-container, ansible, valve-infra, executor, machine_registration, gitlab-trigger, salad, ci-trigger-container

Path conditions:
  build-arch-ansible-container: any of: .gitlab-ci.yml
  ansible: any of: ansible/**/*, .gitlab-ci.yml
  valve-infra: (any of: Makefile, .gitlab-ci.yml, ansible/**/*) or (any of: containers/valve-infra/**)
  executor: any of: executor/**/*, Makefile, .gitlab-ci.yml
  machine_registration: any of: machine_registration/**/*, gfxinfo/**/*, .gitlab-ci.yml
  gitlab-trigger: any of: containers/gitlab-trigger/**/*, executor/client/**/*, valvetraces/**/*, .gitlab-ci.yml
  salad: any of: salad/**/*, .gitlab-ci.yml
  ci-trigger-container: any of: .gitlab-ci.yml
