Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ansible provisioning test, gitlab-trigger, salad

Path conditions:
  ansible provisioning test: any of: ansible/**/*
  gitlab-trigger: any of: containers/gitlab-trigger/**/*, executor/client/**/*, valvetraces/**/*, .gitlab-ci.yml
  salad: any of: salad/**/*, .gitlab-ci.yml

ci: Add wget to the python container
  .gitlab-ci.yml
Due: gitlab-trigger, salad

valvetraces: allow uploading frames from multiple drivers
  valvetraces/setup.cfg
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

minioclient: Make an effort to preserve file attributes for job tarballs.
  executor/server/src/valve_gfx_ci/executor/server/minioclient.py
  executor/server/src/valve_gfx_ci/executor/server/tests/test_minio.py
Due: none

ci: bump the python-container tag
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: test gfxinfo and valvetraces
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: have all the python jobs depend on the python-container job
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ansible: Parameterise the executor package location
  ansible/gateway.yml
  ansible/roles/executor/tasks/main.yml
Due: ansible provisioning test

ansible: Restart minio when we change its configuration
  ansible/roles/minio/tasks/main.yml
Due: ansible provisioning test

ansible: Decontainerize SALAD
  ansible/gateway.yml
  ansible/roles/salad/tasks/main.yml
  ansible/roles/salad/templates/salad_systemd_unit.j2
Due: ansible provisioning test

salad: Remove old tests
  salad/setup.cfg
  salad/src/valve_gfx_ci/salad/tests/test_salad.py
Due: salad

salad: Make into a Python package
  salad/LICENSE
  salad/README.md
  salad/pyproject.toml
  salad/requirements.txt
  salad/setup.cfg
  salad/src/valve_gfx_ci/salad/__init__.py
  salad/src/valve_gfx_ci/salad/app.py
  salad/src/valve_gfx_ci/salad/console.py
  salad/src/valve_gfx_ci/salad/logger.py
  salad/src/valve_gfx_ci/salad/salad.py
  salad/src/valve_gfx_ci/salad/tcpserver.py
  salad/src/valve_gfx_ci/salad/tests/__init__.py
  salad/src/valve_gfx_ci/salad/tests/test_salad.py
Due: salad

ci: Add SALAD ci
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: Make the valve-infra-build script +x
  .gitlab-ci/valve-infra-container-build.sh
Due: none

ci: Make the test naming more consistent
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: Add libpod hack to mesa-trigger-container
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: Move away from the old container build remnants
  .gitlab-ci.yml
  .gitlab-ci/mesa-downstream-trigger-container.sh
Due: gitlab-trigger, salad

Makefile: Update the base container tag
  Makefile
Due: none

ci: Add some missing change rules for the trigger container
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: No point building container until the tests have passed
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: Use repo suffix for mesa-trigger-container
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: Move Python container to more logical place
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: Reorganize the jobs for consistency
  .gitlab-ci.yml
Due: gitlab-trigger, salad

valvetraces: cut a new release
  valvetraces/setup.cfg
Due: gitlab-trigger

valvetraces: shorten the VK driver name when possible
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces/gfxinfo: use `None` instead of "N/A" when missing fields
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

valvetraces/GPUDriver: allow merging results
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

ci: Add podman to downstream container
  .gitlab-ci.yml
  .gitlab-ci/mesa-downstream-trigger-container.sh
Due: gitlab-trigger, salad

valvetraces: fix the gpu_driver generation
  valvetraces/setup.cfg
  valvetraces/src/valve_gfx_ci/valvetraces/__init__.py
Due: gitlab-trigger

ci: bump the mesa-downstream-trigger-container version
  .gitlab-ci.yml
Due: gitlab-trigger, salad

ci: Bump valve-infra container
  .gitlab-ci.yml
Due: gitlab-trigger, salad

app: support ipxe variables in ipxe scripts
  ipxe-boot-server/app.py
Due: none

pip install .gfxinfo: add a -p/--pciid option to say which gpu we want info for
  gfxinfo/src/valve_gfx_ci/gfxinfo/__init__.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/__main__.py
Due: none

gfxinfo: prepare for being able to dump info about any pciid
  gfxinfo/src/valve_gfx_ci/gfxinfo/__main__.py
Due: none

gfxinfo: consolidate pciids under a PCIDevice class
  gfxinfo/src/valve_gfx_ci/gfxinfo/__init__.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/amdgpu.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/intel.py
  gfxinfo/src/valve_gfx_ci/gfxinfo/virt.py
Due: none

gfxinfo: cut a new release
  gfxinfo/setup.cfg
Due: none

gfxinfo/amdgpu: set flags to False by default
  gfxinfo/src/valve_gfx_ci/gfxinfo/amdgpu.py
Due: none

gfxinfo: fix the "No suitable GPU found" code path
  gfxinfo/src/valve_gfx_ci/gfxinfo/__main__.py
Due: none

ci: Tag respective containers with latest
  .gitlab-ci.yml
  .gitlab-ci/machine-registration-container-build.sh
  .gitlab-ci/valve-infra-container-build.sh
Due: gitlab-trigger, salad

ci: Add required packages for upstream trigger
  .gitlab-ci.yml
Due: gitlab-trigger, salad

machine_registration: drop the VRAM size from the machine tags
  machine_registration/machine_registration.py
Due: none
