Repository andrewrothstein/valve-infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

executor:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-sync:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

machine_registration:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

gitlab-trigger:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

salad:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

valve-infra:
  image: docker/compose:alpine-1.27.4
  stage: containers
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:latest
  before_script:
  ...

job templates: improve the timeouts
  job_templates/bootloop.yml.j2
  job_templates/register.yml.j2
Due: none

salad: only forward non-empty messages
  salad/salad.py
Due: salad

executor: only consider '\n' as a trigger for the first console activity
  executor/executor.py
Due: executor

job templates: make the register job also format the drive
  job_templates/register.yml.j2
Due: none

salad: log when closing any resource
  salad/console.py
  salad/tcpserver.py
Due: salad

executor: split MinioCache to its own file
  executor/executor.py
  executor/minioclient.py
  executor/tests/test_minio.py
Due: executor

executor: introduce a new client interface
  executor/app.py
  executor/client.py
  executor/executor.py
Due: executor

client: add the possibility to override the target from the cmdline
  executor/app.py
  executor/client.py
  executor/job.py
Due: executor

executor: do not try to log exceptions outside of a session
  executor/executor.py
Due: executor

boots/provision_network_boot_service: move rather than rename files
  executor/boots.py
Due: executor

Upgrade gfxinfo to 0.0.5
  gfxinfo/setup.cfg
Due: none

executor: Fix broken log_exception call
  executor/executor.py
Due: executor

executor: Remove exception unsafe handler
  executor/executor.py
Due: executor

executor: Refactor settings handling to a common module
  docker-compose.yml
  executor/app.py
  executor/boots.py
  executor/config.py
  executor/executor.py
  executor/gitlab_runner.py
  executor/job.py
  executor/minioclient.py
  executor/settings.py
  executor/tests/test_gitlab_runner.py
  executor/tests/test_job.py
  executor/tests/test_minio.py
Due: executor

docker-compose: Have minio be on the host network
  docker-compose.yml
Due: none

entrypoint: Allow the Minio root password to be static
  entrypoint
Due: none

executor: Add mcli to the container
  executor/Dockerfile
Due: executor

mars: Expose the IP address of machines
  executor/mars.py
Due: executor

gfxinfo/vulkan: make sure all the messages have Vulkan in them
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
Due: none

gfxinfo: some pep8 fixes
  gfxinfo/src/gfxinfo/__init__.py
Due: none

valvetraces: some pep8 fixes
  valvetraces/src/valvetraces/__init__.py
Due: none

valvetraces: Add setup.py file for editable installations
  valvetraces/setup.py
Due: none

valvetraces: Support user editable installs
  valvetraces/setup.py
Due: none

valvetraces: Upgrade gfxinfo
  valvetraces/pyproject.toml
  valvetraces/setup.cfg
Due: none

valvetraces, gfxinfo: more pycodestyle (formerly pep8) fixes
  .gitlab-ci.yml
  gfxinfo/setup.cfg
  gfxinfo/src/gfxinfo/amdgpu.py
  gfxinfo/src/gfxinfo/gfxinfo_vulkan.py
  gfxinfo/src/gfxinfo/virt.py
  valvetraces/setup.cfg
  valvetraces/src/valvetraces/__init__.py
Due: executor, gitlab-sync, machine_registration, gitlab-trigger, salad, valve-infra

client: move argument parsing to argsparse's subparsers
  executor/client.py
Due: executor

client/logger: show the function name in the log
  executor/client.py
Due: executor

executor/JobBucket: add a method to generate access URLs
  executor/executor.py
Due: executor

job: introduce an infra_teardown timeout
  executor/job.py
  executor/tests/test_job.py
Due: executor

executor: add a message class for serialization of client messages
  executor/client.py
  executor/executor.py
  executor/message.py
  executor/tests/test_message.py
Due: executor

executor: add a missing new-line in a log message
  executor/executor.py
Due: executor

executor/JobConsole: introduce a state machine
  executor/executor.py
Due: executor

executor: let the client download the job_bucket before its deletion
  executor/client.py
  executor/executor.py
Due: executor

executor/SessionEndMessage: add job_bucket
  executor/message.py
  executor/tests/test_message.py
Due: executor

executor: add a JobBucket class
  executor/executor.py
Due: executor

job: add job-bucket-related template variables
  executor/job.py
  executor/tests/test_job.py
Due: executor

executor/minioclient: add admin-related commands
  executor/config.py
  executor/minioclient.py
  executor/tests/test_minio.py
Due: executor

executor/client: allow sending files as input for the job's execution
  executor/app.py
  executor/client.py
  executor/executor.py
Due: executor

entrypoint: bump the boot2container version to 0.8
  entrypoint
Due: none

job/interactive: expose the job bucket
  job_templates/interactive.yml.j2
Due: none

Path conditions:
  executor: any of: executor/**, .gitlab-ci.yml
  gitlab-sync: any of: containers/gitlab-sync/**, .gitlab-ci.yml
  machine_registration: any of: machine_registration/**, .gitlab-ci.yml
  gitlab-trigger: any of: containers/gitlab-trigger/**, .gitlab-ci.yml
  salad: any of: salad/**, .gitlab-ci.yml
  valve-infra: any of: Dockerfile, .gitlab-ci.yml
